.bottom-menu
	.bottom-menu__list
		.bottom-menu__list__col
			a.bottom-menu__item(href="#")
				.h4.bottom-menu__item__label
					| Мобильное управление
				.bottom-menu__item__title
					| Умные решения для контроля климата через приложение Daichi Comfort
		.bottom-menu__list__col
			a.bottom-menu__item.bottom-menu__item--catalog(href="#")
				.h4.bottom-menu__item__label
					| Каталог
				.bottom-menu__item__image
					img(src="./images/bm-catalog.png" alt="")
				.bottom-menu__item__title
					| Комфортный климат в ваших домах и общественных пространствах
		.bottom-menu__list__col
			a.bottom-menu__item.bottom-menu__item--buy(href="#")
				.h4.bottom-menu__item__label
					| Где купить
				.bottom-menu__item__image(style="background-image:url(./images/bm-buy.png)")
				.bottom-menu__item__title
					| Наш фирменный магазин и широкая дилерская сеть по всей России
