.accordion.anime(data-offset="25" data-app="accordion")
	.container
		.wrapper
			.wrapper__side
			.wrapper__content
				.h3.accordion__title
					| Вопросы и ответы
				.accordion__list
					.accordion__item
						.accordion__item__header
							.accordion__item__header__text
								| Где купить и как установить Облачный кондиционер?
								+svg('plus').accordion__item__header__icon
						.accordion__item__content
							.accordion__item__text
								| Облачный кондиционер не работает без оплаченной подписки на Облачный сервис. В любой момент времени вы можете приобрести бессрочное предоставление Облачного сервиса, оплатив 4 ежегодных платежа единовременно.
								br
								| После этого Облачный сервис будет предоставляться бесплатно в течении всего жизненного цикла вашего кондиционера.
					.accordion__item
						.accordion__item__header
							.accordion__item__header__text
								| Есть ли способ отказаться от ежегодных платежей после того, как кондиционер установлен
								+svg('plus').accordion__item__header__icon
						.accordion__item__content
							.accordion__item__text
								| Облачный кондиционер не работает без оплаченной подписки на Облачный сервис. В любой момент времени вы можете приобрести бессрочное предоставление Облачного сервиса, оплатив 4 ежегодных платежа единовременно.
								br
								| После этого Облачный сервис будет предоставляться бесплатно в течении всего жизненного цикла вашего кондиционера.
					.accordion__item
						.accordion__item__header
							.accordion__item__header__text
								| Если сравнить стоимость Облачного кондиционера и подписки со стоимостью обычного кондиционера, получается, что я плачу дороже?
								+svg('plus').accordion__item__header__icon
						.accordion__item__content
							.accordion__item__text
								| Облачный кондиционер не работает без оплаченной подписки на Облачный сервис. В любой момент времени вы можете приобрести бессрочное предоставление Облачного сервиса, оплатив 4 ежегодных платежа единовременно.
								br
								| После этого Облачный сервис будет предоставляться бесплатно в течении всего жизненного цикла вашего кондиционера.
					.accordion__item
						.accordion__item__header
							.accordion__item__header__text
								| Есть ли особые технические условия, необходимые для работы Облачного кондиционера?
								+svg('plus').accordion__item__header__icon
						.accordion__item__content
							.accordion__item__text
								| Облачный кондиционер не работает без оплаченной подписки на Облачный сервис. В любой момент времени вы можете приобрести бессрочное предоставление Облачного сервиса, оплатив 4 ежегодных платежа единовременно.
								br
								| После этого Облачный сервис будет предоставляться бесплатно в течении всего жизненного цикла вашего кондиционера.
					.accordion__item
						.accordion__item__header
							.accordion__item__header__text
								| Где расположен сервер «Облако Даичи»?
								+svg('plus').accordion__item__header__icon
						.accordion__item__content
							.accordion__item__text
								| Облачный кондиционер не работает без оплаченной подписки на Облачный сервис. В любой момент времени вы можете приобрести бессрочное предоставление Облачного сервиса, оплатив 4 ежегодных платежа единовременно.
								br
								| После этого Облачный сервис будет предоставляться бесплатно в течении всего жизненного цикла вашего кондиционера.
					.accordion__item
						.accordion__item__header
							.accordion__item__header__text
								| Безопасно ли предоставление доступа к моей локальной сети?
								+svg('plus').accordion__item__header__icon
						.accordion__item__content
							.accordion__item__text
								| Облачный кондиционер не работает без оплаченной подписки на Облачный сервис. В любой момент времени вы можете приобрести бессрочное предоставление Облачного сервиса, оплатив 4 ежегодных платежа единовременно.
								br
								| После этого Облачный сервис будет предоставляться бесплатно в течении всего жизненного цикла вашего кондиционера.
