.page-not-found
	.container
		.page-not-found__container
			.page-not-found__content
				h1.page-title.page-not-found__title
					| Страница не&nbsp;найдена
				.page-not-found__text
					| Вы находитесь здесь потому, что запрашиваемая страница не существует или была перемещена по другому адресу
				.page-not-found__button
					a.button(href="index.html") Вернуться на главную
			.page-not-found__image.for-desktop
				img(src="./images/404.jpg" alt="")
