.page-about(data-app="page-about")
	.container
		.breadcrumbs
			ul
				li: a(href="index.html") Главная
				li О компании
		.page-about__intro.anime.fadeUp(data-offset="25")
			.page-about__intro__content
				h1.page-title.page-about__intro__title
					| О компании
				.page-about__intro__image.for-mobile
					img(src="./images/about-intro.jpg" alt="")
				.page-about__intro__text
					| Компания «Даичи» - один из старейших дистрибьюторов климатической техники в России. С 1997 года Даичи поставляет на&nbsp;российский рынок оборудования ведущих мировых производителей: кондиционеры, чиллеры и фанкойлы, а также увлажнители, вентиляционные системы и отопительные приборы. Техника от Даичи создает комфортные условия в любом помещении: это подтверждают сотни объектов самого разного назначения по всей стране.
			.page-about__intro__image.for-desktop
				img(src="./images/about-intro.jpg" alt="")
		.page-about__infrastructure
			.page-about__infrastructure__head.anime.fadeUp(data-offset="25")
				.wrapper
					.wrapper__side
					.wrapper__content
						.h1.page-about__infrastructure__title
							| Инфраструктура «Даичи»
						.page-about__infrastructure__text
							| В инфраструктуру «Даичи» входят 22 представительства во всех федеральных округах, 48&nbsp;оптовых складов в крупных городах, сервисный центр в Москве, более 100 авторизованных сервисных центров по всей стране и 4 500 монтажных компаний-партнеров с&nbsp;сертифицированным штатом сотрудников.
			.page-about__infrastructure__item.anime.fadeUp(data-offset="25")
				.page-about__infrastructure__item__image
					img(src="./images/about-infrastructure.jpg" alt="")
				.page-about__infrastructure__item__text
					| Эта инфраструктура гарантирует, что&nbsp;оборудование от «Даичи» можно приобрести в любой точке страны, и&nbsp;везде для него обеспечены квалифицированное обслуживание и&nbsp;ремонт, а запасные части всегда будут в наличии.
	.page-about__offices.anime.fadeUp(data-offset="25" data-app="offices")
		.container
			.page-about__offices__head
				.h3.page-about__offices__title
					| Представительства компании
				.page-about__offices__toggle
					a(href="#") Показать списком
		.page-about__offices__map(data-label="Показать карту")
			.page-about__offices__map__image
				img(src="./images/about-map.svg" alt="")
			.page-about__offices__map__pin(style="left: 10%;top: 81%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 12%;top: 74%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 15%;top: 82%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 18%;top: 78%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 16%;top: 66%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 17.5%;top: 54%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 18%;top: 37%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 22%;top: 58%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 25.5%;top: 64%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 26%;top: 71%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 30%;top: 72%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 35%;top: 68%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 45%;top: 82%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 52.3%;top: 85%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 61.5%;top: 88%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin(style="left: 71%;top: 64%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
			.page-about__offices__map__pin.page-about__offices__map__pin--left(style="left: 82%;top: 89%;")
				.page-about__offices__map__pin__icon
					i
					i
					i
				.page-about__offices__map__pin__text
					| Екатеринбург
		.page-about__offices__list(data-label="Показать списком")
			.container
				.page-about__offices__list__row
					.page-about__offices__list__col
						.page-about__offices__list__item
							.h3.page-about__offices__list__item__title
								| Даичи-Астрахань
							ul.page-about__offices__list__item__list
								li
									.page-about__offices__list__item__list__key
										| Адрес
									.page-about__offices__list__item__list__label
										| г.Екатеринбург, ул.Токарей, д.40, #[br]вход в офисы №2, 2 этаж
								li
									.page-about__offices__list__item__list__key
										| Телефон
									.page-about__offices__list__item__list__label
										a(href="tel:+7 (351) 378-00-10") +7 (351) 378-00-10
							.page-about__offices__list__item__link
								a(href="#") Перейти на сайт
									+svg('link')
					.page-about__offices__list__col
						.page-about__offices__list__item
							.h3.page-about__offices__list__item__title
								| Даичи-Байкал
							ul.page-about__offices__list__item__list
								li
									.page-about__offices__list__item__list__key
										| Адрес
									.page-about__offices__list__item__list__label
										| г.Екатеринбург, ул.Токарей, д.40, #[br]вход в офисы №2, 2 этаж
								li
									.page-about__offices__list__item__list__key
										| Телефон
									.page-about__offices__list__item__list__label
										a(href="tel:+7 (351) 378-00-10") +7 (351) 378-00-10
							.page-about__offices__list__item__link
								a(href="#") Перейти на сайт
									+svg('link')
					.page-about__offices__list__col
						.page-about__offices__list__item
							.h3.page-about__offices__list__item__title
								| Даичи-Балтика
							ul.page-about__offices__list__item__list
								li
									.page-about__offices__list__item__list__key
										| Адрес
									.page-about__offices__list__item__list__label
										| г.Екатеринбург, ул.Токарей, д.40, #[br]вход в офисы №2, 2 этаж
								li
									.page-about__offices__list__item__list__key
										| Телефон
									.page-about__offices__list__item__list__label
										a(href="tel:+7 (351) 378-00-10") +7 (351) 378-00-10
							.page-about__offices__list__item__link
								a(href="#") Перейти на сайт
									+svg('link')
					.page-about__offices__list__col
						.page-about__offices__list__item
							.h3.page-about__offices__list__item__title
								| Даичи-Крым
							ul.page-about__offices__list__item__list
								li
									.page-about__offices__list__item__list__key
										| Адрес
									.page-about__offices__list__item__list__label
										| г.Екатеринбург, ул.Токарей, д.40, #[br]вход в офисы №2, 2 этаж
								li
									.page-about__offices__list__item__list__key
										| Телефон
									.page-about__offices__list__item__list__label
										a(href="tel:+7 (351) 378-00-10") +7 (351) 378-00-10
							.page-about__offices__list__item__link
								a(href="#") Перейти на сайт
									+svg('link')
					.page-about__offices__list__col
						.page-about__offices__list__item
							.h3.page-about__offices__list__item__title
								| Даичи-Волга
							ul.page-about__offices__list__item__list
								li
									.page-about__offices__list__item__list__key
										| Адрес
									.page-about__offices__list__item__list__label
										| г.Екатеринбург, ул.Токарей, д.40, #[br]вход в офисы №2, 2 этаж
								li
									.page-about__offices__list__item__list__key
										| Телефон
									.page-about__offices__list__item__list__label
										a(href="tel:+7 (351) 378-00-10") +7 (351) 378-00-10
							.page-about__offices__list__item__link
								a(href="#") Перейти на сайт
									+svg('link')
					.page-about__offices__list__col
						.page-about__offices__list__item
							.h3.page-about__offices__list__item__title
								| Даичи-Сибирь
							ul.page-about__offices__list__item__list
								li
									.page-about__offices__list__item__list__key
										| Адрес
									.page-about__offices__list__item__list__label
										| г.Екатеринбург, ул.Токарей, д.40, #[br]вход в офисы №2, 2 этаж
								li
									.page-about__offices__list__item__list__key
										| Телефон
									.page-about__offices__list__item__list__label
										a(href="tel:+7 (351) 378-00-10") +7 (351) 378-00-10
							.page-about__offices__list__item__link
								a(href="#") Перейти на сайт
									+svg('link')
					.page-about__offices__list__col.page-about__offices__list__col--hidden.is-hidden
						.page-about__offices__list__item
							.h3.page-about__offices__list__item__title
								| Даичи-Астрахань
							ul.page-about__offices__list__item__list
								li
									.page-about__offices__list__item__list__key
										| Адрес
									.page-about__offices__list__item__list__label
										| г.Екатеринбург, ул.Токарей, д.40, #[br]вход в офисы №2, 2 этаж
								li
									.page-about__offices__list__item__list__key
										| Телефон
									.page-about__offices__list__item__list__label
										a(href="tel:+7 (351) 378-00-10") +7 (351) 378-00-10
							.page-about__offices__list__item__link
								a(href="#") Перейти на сайт
									+svg('link')
					.page-about__offices__list__col.page-about__offices__list__col--hidden.is-hidden
						.page-about__offices__list__item
							.h3.page-about__offices__list__item__title
								| Даичи-Байкал
							ul.page-about__offices__list__item__list
								li
									.page-about__offices__list__item__list__key
										| Адрес
									.page-about__offices__list__item__list__label
										| г.Екатеринбург, ул.Токарей, д.40, #[br]вход в офисы №2, 2 этаж
								li
									.page-about__offices__list__item__list__key
										| Телефон
									.page-about__offices__list__item__list__label
										a(href="tel:+7 (351) 378-00-10") +7 (351) 378-00-10
							.page-about__offices__list__item__link
								a(href="#") Перейти на сайт
									+svg('link')
					.page-about__offices__list__col.page-about__offices__list__col--hidden.is-hidden
						.page-about__offices__list__item
							.h3.page-about__offices__list__item__title
								| Даичи-Балтика
							ul.page-about__offices__list__item__list
								li
									.page-about__offices__list__item__list__key
										| Адрес
									.page-about__offices__list__item__list__label
										| г.Екатеринбург, ул.Токарей, д.40, #[br]вход в офисы №2, 2 этаж
								li
									.page-about__offices__list__item__list__key
										| Телефон
									.page-about__offices__list__item__list__label
										a(href="tel:+7 (351) 378-00-10") +7 (351) 378-00-10
							.page-about__offices__list__item__link
								a(href="#") Перейти на сайт
									+svg('link')
					.page-about__offices__list__col.page-about__offices__list__col--hidden.is-hidden
						.page-about__offices__list__item
							.h3.page-about__offices__list__item__title
								| Даичи-Крым
							ul.page-about__offices__list__item__list
								li
									.page-about__offices__list__item__list__key
										| Адрес
									.page-about__offices__list__item__list__label
										| г.Екатеринбург, ул.Токарей, д.40, #[br]вход в офисы №2, 2 этаж
								li
									.page-about__offices__list__item__list__key
										| Телефон
									.page-about__offices__list__item__list__label
										a(href="tel:+7 (351) 378-00-10") +7 (351) 378-00-10
							.page-about__offices__list__item__link
								a(href="#") Перейти на сайт
									+svg('link')
					.page-about__offices__list__col.page-about__offices__list__col--hidden.is-hidden
						.page-about__offices__list__item
							.h3.page-about__offices__list__item__title
								| Даичи-Волга
							ul.page-about__offices__list__item__list
								li
									.page-about__offices__list__item__list__key
										| Адрес
									.page-about__offices__list__item__list__label
										| г.Екатеринбург, ул.Токарей, д.40, #[br]вход в офисы №2, 2 этаж
								li
									.page-about__offices__list__item__list__key
										| Телефон
									.page-about__offices__list__item__list__label
										a(href="tel:+7 (351) 378-00-10") +7 (351) 378-00-10
							.page-about__offices__list__item__link
								a(href="#") Перейти на сайт
									+svg('link')
					.page-about__offices__list__col.page-about__offices__list__col--hidden.is-hidden
						.page-about__offices__list__item
							.h3.page-about__offices__list__item__title
								| Даичи-Сибирь
							ul.page-about__offices__list__item__list
								li
									.page-about__offices__list__item__list__key
										| Адрес
									.page-about__offices__list__item__list__label
										| г.Екатеринбург, ул.Токарей, д.40, #[br]вход в офисы №2, 2 этаж
								li
									.page-about__offices__list__item__list__key
										| Телефон
									.page-about__offices__list__item__list__label
										a(href="tel:+7 (351) 378-00-10") +7 (351) 378-00-10
							.page-about__offices__list__item__link
								a(href="#") Перейти на сайт
									+svg('link')
				.page-about__offices__list__more
					a.button.js-show-hide(href="#" data-on="Скрыть" data-off="Показать ещё" data-target=".page-about__offices__list__col--hidden") Показать ещё

	.container
		.page-about__benefits
			.page-about__benefits__row
				.page-about__benefits__col
					.page-about__benefits__item.anime.fadeUp(data-offset="25")
						.page-about__benefits__item__image
							img(src="./images/about-benefit-1.jpg" alt="")
						.page-about__benefits__item__text
							| Сервисные центры «Даичи» для профессиональных участников рынка – это оперативные консультации по&nbsp;вопросам обслуживания и ремонта, пуско-наладочные работы и шеф-монтаж. #[br]Также в сервисных центрах проводится адаптация оборудования к работе в российских условиях (низкотемпературная доработка).
					.page-about__benefits__item.anime.fadeUp(data-offset="25")
						.page-about__benefits__item__image
							img(src="./images/about-benefit-2.jpg" alt="")
						.page-about__benefits__item__text
							| Склады запчастей – это номенклатура из более чем&nbsp;4500&nbsp;наименований. Более 90% запчастей отпускается в день подачи рекламации.
					.page-about__benefits__item.anime.fadeUp(data-offset="25")
						.page-about__benefits__item__image
							img(src="./images/about-benefit-3.jpg" alt="")
						.page-about__benefits__item__text
							| Технический центр "Даичи" готовит технико-коммерческие предложения, проводит консультации, создает программы для подбора оборудования, а также консультирует профессиональных участников рынка по вопросам проектирования и подбора оборудования, осуществляет проектную деятельность для&nbsp;поддержки партнеров.
				.page-about__benefits__col
					.page-about__benefits__item.anime.fadeUp(data-offset="25")
						.page-about__benefits__item__image
							img(src="./images/about-benefit-4.jpg" alt="")
						.page-about__benefits__item__text
							| Логистический комплекс компании в Московском регионе – это 18 000 м2 складских площадей класса «А» с самым современным оборудованием и удобным получением товара, а также 3 000 м2 офисных площадей. Логистические центры «Даичи» также развернуто в регионах РФ
					.page-about__benefits__item.anime.fadeUp(data-offset="25")
						.page-about__benefits__item__image
							img(src="./images/about-benefit-5.jpg" alt="")
						.page-about__benefits__item__text
							| Сервисно-производственные центры в каждом представительстве проверяют все оборудование перед отгрузкой клиенту, проводят дополнительные испытания техники, организуют постпродажное обслуживание.
					.page-about__benefits__item.anime.fadeUp(data-offset="25")
						.page-about__benefits__item__image
							img(src="./images/about-benefit-6.jpg" alt="")
						.page-about__benefits__item__text
							| Инженерный центр «Даичи» — подразделение для&nbsp;обслуживания покупателей оборудования, поставляемого компанией.
							br
							| Услуги Инженерного центра:
							.page-text-list
								ul
									li
										| Обслуживание клиентов по специальным программам
										ul
											li «Климат Онлайн» — мониторинг работы оборудования и необходимый сервис;
											li «Мой комфорт» — предоставление расширенной гарантии и сервисного обслуживания;
									li Пусконаладочные работы и шеф-монтаж оборудования;
									li Ремонт и техническое обслуживание систем кондиционирования, хладоснабжения и&nbsp;вентиляции;
									li Поставка запасных частей;
									li Оперативные консультации клиентов по вопросам эксплуатации, обслуживания и&nbsp;ремонта.

	.page-about__cloud
		.container
			.page-about__cloud__tech.anime.fadeUp(data-offset="25")
				.page-about__cloud__tech__container
					.page-about__cloud__tech__left
						.page-about__cloud__tech__image-1.for-desktop
							img(src="./images/about-cloud-tech-1.png" alt="")
						.page-about__cloud__tech__image-2.for-desktop
							img(src="./images/about-cloud-tech-2.png" alt="")
					.page-about__cloud__tech__right
						.h1.page-about__cloud__title
							| Облачные технологии
						.page-about__cloud__tech__image-1.for-mobile
							img(src="./images/about-cloud-tech-1.png" alt="")
						.page-about__cloud__text
							| Одна из самых перспективных разработок «Даичи» — Wi-Fi-контроллер, а также приложение (мобильная и десктоп-версии), управляющие работой системы кондиционирования. Приложение посылает, а контроллер получает команды управления через центральный сервер «Даичи», посредством облачных технологий. Смартфон или ноутбук в этом случае становится интеллектуальным пультом для всего климатического оборудования, установленного дома, в офисе или на предприятии.
							br
							br
							| Мобильное управление наделяет любой кондиционер функциями премиум-класса.
							br
							| Это возможность контроля оборудования через интернет из любой точки мира, индивидуальные настройки, работа со сценариями, встроенные функции, установка таймеров и расписаний.
							br
							| Важно, что контроллеры работают как&nbsp;с&nbsp;оборудованием Daichi, так и с климатической техникой других брендов, и их список постоянно расширяется.
							br
							br
							| Единое приложение Daichi Comfort позволит управлять также и VRF системами.
							br
							| Для дистанционной работы с мультизональной VRF-системой достаточно установить контроллер DCM-NET на центральном модуле VRF. Кроме управления всеми внутренними климатическими блоками, доступно подключение к системам управления зданиями (BMS) и “умным домом” через протоколы MODBUS, BACNET и KNX.
						.page-about__cloud__tech__image-2.for-mobile
							img(src="./images/about-cloud-tech-2.png" alt="")
			.page-about__cloud__air.anime.fadeUp(data-offset="25")
				.page-about__cloud__air__container
					.page-about__cloud__air__left
						.h1.page-about__cloud__title
							| Облачный кондиционер
						.page-about__cloud__text
							| Сочетая решения из разных областей, специалисты «Даичи» создают новые комплексные продукты: в&nbsp;них&nbsp;современное оборудование объединено с&nbsp;облачными сервисами и умными программами обслуживания.
							br
							br
							| «Облачный кондиционер» – именно такой комплексный продукт. Он содержит все преимущества мобильного управления, онлайн-подключение к центру диагностики, консультации через мобильное приложение, а&nbsp;также удобную схему оплаты. Программа позволяет приобрести кондиционер по выгодной цене и пользоваться удобными онлайн сервисами, оплачивая ежегодную подписку.
					.page-about__cloud__air__right
						.page-about__cloud__tech__image
							img(src="./images/about-cloud-air-1.svg" alt="")
	.container
		.page-about__sales.anime.fadeUp(data-offset="25")
			.page-about__sales__image.for-desktop
				img(src="./images/about-sales.jpg" alt="")
			.page-about__sales__content
				.h1.page-about__sales__title
					| Программы послепродажного обслуживания
				.page-about__sales__text
					| Инженерный центр «Даичи» – это по-настоящему отлаженная справочно-сервисная служба, готовая решить любые задачи, связанные с технической поддержкой. Помимо этого, обладатели оборудования от «Даичи» могут подключиться к программам «Климат онлайн» и&nbsp;«Мой комфорт», доступным по подписке.
					br
					br
					| Эти опции предусматривают онлайн-мониторинг работы климатической техники, дистанционное выявление возможных проблем, а также полную гарантию бесперебойной работы системы кондиционирования с&nbsp;последующей бесплатной заменой кондиционера на&nbsp;новый.

		.page-about__large
			.page-about__large__head.anime.fadeUp(data-offset="25")
				.wrapper
					.wrapper__side
					.wrapper__content
						.h1.page-about__large__title
							| Работа с крупными объектами
						.page-about__large__text
							| Для крупных объектов «Даичи» предлагает комплексные поставки инженерного оборудования. Мы по-настоящему гордимся нашими реализованными проектами.
			.page-about__large__row
				.page-about__large__col
					.page-about__large__item.anime.fadeUp(data-offset="25")
						.page-about__large__item__image
							img(src="./images/about-large-1.jpg" alt="")
						.page-about__large__item__content
							.h4.page-about__large__item__title
								| «Лахта центр». Штаб-квартира ГК&nbsp;«Газпром»
							ul.page-about__large__item__list
								li
									span.page-about__large__item__list__key Дата запуска:
									span.page-about__large__item__list__value 2018 год
								li
									span.page-about__large__item__list__key Расположение:
									span.page-about__large__item__list__value Санкт-Петербург
								li
									span.page-about__large__item__list__key Мощность оборудования от «Даичи»:
									span.page-about__large__item__list__value 18 200 кВт
							.page-about__large__item__text
								| Общественно-деловой комплекс включает в себя небоскреб и многофункциональное здание. #[br]Высота небоскреба – 462 метра. #[br]Общая площадь 400 000 кв. м. Для экономии затрат установлены генераторы холода.
				.page-about__large__col
					.page-about__large__item.anime.fadeUp(data-offset="25")
						.page-about__large__item__image
							img(src="./images/about-large-2.jpg" alt="")
						.page-about__large__item__content
							.h4.page-about__large__item__title
								| ВТБ Арена — центральный стадион «Динамо»
							ul.page-about__large__item__list
								li
									span.page-about__large__item__list__key Дата запуска:
									span.page-about__large__item__list__value 2018 год
								li
									span.page-about__large__item__list__key Расположение:
									span.page-about__large__item__list__value Москва
								li
									span.page-about__large__item__list__key Общая вместимость:
									span.page-about__large__item__list__value 26 319 посадочных мест
								li
									span.page-about__large__item__list__key Запуск системы в эксплуатацию:
									span.page-about__large__item__list__value 2018 год
								li
									span.page-about__large__item__list__key Мощность оборудования от «Даичи»:
									span.page-about__large__item__list__value 11 550 кВт
							.page-about__large__item__text
								| Центральный стадион «Динамо», или «ВТБ Арена» — домашний стадион московского футбольного клуба «Динамо». Расположен в Москве, в районе «Аэропорт» Северного административного округа. Реконструкция, продолжавшаяся c 2008 года, позволила объединить в общем пространстве стадиона Большую спортивную арену и&nbsp;Универсальный спортивный зал. За счет передовых технологий они смогут в самые короткие сроки трансформироваться в футбольное поле, баскетбольную арену, ледовый холл и концертный зал.

		.page-about__typical
			.page-about__typical__head.anime.fadeUp(data-offset="25")
				.wrapper
					.wrapper__side
					.wrapper__content
						.h1.page-about__typical__title
							| Работа с типовыми объектами
						.page-about__typical__text
							| Для типовых объектов – салонов связи, отделений банков, заправочных станций – «Даичи» предлагает специальные цены на оборудование, проект, организацию поставок и монтажа.  Компания предоставит готовый проект, обеспечит монтаж и сервис по единому стандарту на&nbsp;нескольких объектах, с привлечением авторизованных подрядчиков в любом городе РФ.
			.page-about__typical__item.anime.fadeUp(data-offset="25")
				.page-about__typical__item__image
					img(src="./images/about-typical.jpg" alt="")
				.page-about__typical__item__text
					| Так клиенты «Даичи» экономят время и&nbsp;деньги, а также минимизируют риски: весь процесс от проектирования до&nbsp;установки – полностью под&nbsp;контролем.

		.page-about__history(data-app="about-history")
			.page-about__history__content.anime.fadeUp(data-offset="25")
				.wrapper
					.wrapper__side
					.wrapper__content
						.h1.page-about__history__title
							| История компании
						.page-about__history__image
							img(src="./images/about-history.jpg" alt="")
						.h3.page-about__history__text
							| «Даичи» — компания федерального масштаба, стоявшая у истоков российского климатического рынка и продолжающая успешно развиваться.
			.page-about__history__grid
				.page-about__history__year
					.page-about__history__year-scroll
						span.text-gradient.js-year 1997
				.page-about__history__list
					.page-about__history__item-scroll
						.page-about__history__item-scroll__trigger
						.page-about__history__item(data-year=1997)
							.page-about__history__item__text
								| Для дистрибуции климатической техники при СИТЭС образована дочерняя компания «Даичи». Основное направление работы компании – оптовая поставка климатического оборудования через сеть уполномоченных дилеров на территории Российской Федерации.
								br
								br
								| В 1997 году «Даичи» подписывает дистрибьюторское соглашение с Daikin Europe, дочерней организацией Daikin Industries LTD, расположенной в Бельгии и ведущей торговые операции в Европе и Великобритании. Компания становится единственным национальным дистрибьютором климатической техники Daikin.
					.page-about__history__item-scroll
						.page-about__history__item-scroll__trigger
						.page-about__history__item(data-year=1999)
							.page-about__history__item__text
								| В 1997 году «Даичи» подписывает дистрибьюторское соглашение с Daikin Europe, дочерней организацией Daikin Industries LTD, расположенной в Бельгии и ведущей торговые операции в Европе и Великобритании. Компания становится единственным национальным дистрибьютором климатической техники Daikin.
								br
								br
								| Для дистрибуции климатической техники при СИТЭС образована дочерняя компания «Даичи». Основное направление работы компании – оптовая поставка климатического оборудования через сеть уполномоченных дилеров на территории Российской Федерации.
					.page-about__history__item-scroll
						.page-about__history__item-scroll__trigger
						.page-about__history__item(data-year=2007)
							.page-about__history__item__text
								| Для дистрибуции климатической техники при СИТЭС образована дочерняя компания «Даичи». Основное направление работы компании – оптовая поставка климатического оборудования через сеть уполномоченных дилеров на территории Российской Федерации.
								br
								br
								| В 1997 году «Даичи» подписывает дистрибьюторское соглашение с Daikin Europe, дочерней организацией Daikin Industries LTD, расположенной в Бельгии и ведущей торговые операции в Европе и Великобритании. Компания становится единственным национальным дистрибьютором климатической техники Daikin.
					.page-about__history__item-scroll
						.page-about__history__item-scroll__trigger
						.page-about__history__item(data-year=2010)
							.page-about__history__item__text
								| В 1997 году «Даичи» подписывает дистрибьюторское соглашение с Daikin Europe, дочерней организацией Daikin Industries LTD, расположенной в Бельгии и ведущей торговые операции в Европе и Великобритании. Компания становится единственным национальным дистрибьютором климатической техники Daikin.
								br
								br
								| Для дистрибуции климатической техники при СИТЭС образована дочерняя компания «Даичи». Основное направление работы компании – оптовая поставка климатического оборудования через сеть уполномоченных дилеров на территории Российской Федерации.
					.page-about__history__item-scroll
						.page-about__history__item-scroll__trigger
						.page-about__history__item(data-year=2020)
							.page-about__history__item__text
								| Для дистрибуции климатической техники при СИТЭС образована дочерняя компания «Даичи». Основное направление работы компании – оптовая поставка климатического оборудования через сеть уполномоченных дилеров на территории Российской Федерации.
								br
								br
								| В 1997 году «Даичи» подписывает дистрибьюторское соглашение с Daikin Europe, дочерней организацией Daikin Industries LTD, расположенной в Бельгии и ведущей торговые операции в Европе и Великобритании. Компания становится единственным национальным дистрибьютором климатической техники Daikin.
