.container
	.breadcrumbs
		ul
			li: a(href="index.html") Главная
			li Блог—статьи

	.blog
		h1.page-title.anime.fadeUp
			| Блог—статьи
		.tab-list.anime.fadeUp
			ul
				li: a(href="#") Новости
				li: a.is-active(href="#") Статьи
				li: a(href="#") Видео
		.blog__list.anime.fadeUp
			.blog__row(data-list="blog-list" data-ajax="blog-articles-load.html")
