.page-brand
	.container
		.breadcrumbs
			ul
				li: a(href="index.html") Главная
				li О бренде
		.intro.anime
			.intro__head
				h1.intro__title
					| О бренде
			.intro__video
				img(src="./images/brand.jpg" alt="")

		.page-brand__trade
			.wrapper
				.wrapper__side
					.h1.anime.fadeUp(data-offset="25") О&nbsp;торговой марке Daichi
				.wrapper__content
					.page-subtext.page-brand__trade__subtext.anime.fadeUp(data-offset="25")
						| В&nbsp;век новых технологий сложные задачи можно решить всего одним касанием сенсорного экрана. В&nbsp;один клик можно совершить покупку, провести финансовую операцию или получить нужную информацию. Клик&nbsp;&mdash; и&nbsp;готово селфи! Следующим кликом фото отправляется близкому человеку, за&nbsp;тысячи километров. Бренд Daichi делает управление климатической системой таким&nbsp;же простым и&nbsp;удобным
					.h2.page-brand__trade__subtitle.anime.fadeUp(data-offset="25") Техника Daichi&nbsp;&mdash; это комфортная среда &laquo;в&nbsp;один клик&raquo;
					.page-subtext.anime.fadeUp(data-offset="25")
						| Под общим брендом собран целый ряд доступных решений, и&nbsp;каждое из&nbsp;них делает более удобной и&nbsp;гармоничной нашу повседневную жизнь. Управление, обслуживание, даже замена кондиционера&nbsp;&mdash; всё, что связано с&nbsp;техникой Daichi, легко переводится на&nbsp;язык комфорта.

		.page-brand__equipment
			.wrapper
				.wrapper__side
					.h1.anime.fadeUp(data-offset="25") Оборудование Daichi
				.wrapper__content
					.page-subtext.page-brand__equipment__subtext.anime.fadeUp(data-offset="25")
						| В&nbsp;решениях Daichi соединены последние технические достижения и&nbsp;опции, отвечающие потребностям современных клиентов. Техника Daichi создана для того, чтобы создавать комфорт в&nbsp;наших домах и&nbsp;общественных пространствах. Помимо бытовых сплитсистем и&nbsp;полупромышеленных кондиционеров, ассортимент Daichi включает оборудование для технологического охлаждения на&nbsp;IT-объектах, предприятиях торговли, специализированных помещениях и&nbsp;везде, где важно поддерживать заданный микроклимат
					.page-image.page-brand__equipment__image.anime.fadeUp(data-offset="25")
						.page-image__item
							img(src="./images/temp/7.jpg" alt="")
						.page-image__signature
							| Фотография оборудования, о&nbsp;котором говорится выше.
					.h2.page-brand__equipment__subtitle.anime.fadeUp(data-offset="25") &laquo;Облачный кондиционер&raquo; комплексный продукт для вашего комфорта
					.page-subtext.anime.fadeUp(data-offset="25")
						| Пользоваться и&nbsp;управлять кондиционером становится #[br] легче, чем когда-либо!
					.page-brand__equipment__text.anime.fadeUp(data-offset="25")
						| За&nbsp;последнее время технологии комфорта ушли далеко вперёд. По&nbsp;сути, каждый кондиционер сегодня&nbsp;&mdash; это персональная система управления климатом с&nbsp;десятками удобных функций. Теперь пришло время сервисам сделать такой&nbsp;же важный шаг навстречу комфорту.
					.page-brand__equipment__text.anime.fadeUp(data-offset="25")
						| Программа &laquo;Облачный кондиционер&raquo;&nbsp;&mdash; это будущее, которое уже доступно. Удобный и гибкий сервис использует облачные технологии и&nbsp;делает &laquo;облачным&raquo; не&nbsp;только управление, но&nbsp;и владение кондиционером.
					.page-brand__equipment__text.anime.fadeUp(data-offset="25")
						| Облачный кондиционер&nbsp;&mdash; это кондиционер, который управляется как с&nbsp;помощью пульта, так&nbsp;и&nbsp;мобильного приложения и&nbsp;продается с подпиской.

		.page-brand__technologies
			.wrapper
				.wrapper__side
					.h1.anime.fadeUp(data-offset="25") Передовые технологии в&nbsp;основе бренда Daichi
				.wrapper__content
					.page-brand__technologies__image.anime.fadeUp(data-offset="25")
						img(src="./images/brand-technologies.jpg" alt="")
					.page-subtext.anime.fadeUp(data-offset="25")
						| Бренд предлагает решения, актуальные для рынка и&nbsp;потребителей.
					.page-brand__technologies__text.anime.fadeUp(data-offset="25")
						| В&nbsp;оборудовании Daichi применены наиболее современные технологии, включая инверторные компрессоры, которые обеспечивают высокую эффективность при меньших затратах энергии. Техника Daichi переходит на&nbsp;прогрессивный хладагент R-32: этот фреон делает использование кондиционеров более безопасным для природы. Также в&nbsp;арсенале Daichi индивидуальные опции, нестандартные аксессуары, Wi-Fi управление и&nbsp;технологии работы в&nbsp;необычных условиях, в&nbsp;том числе при низких температурах.

					.h1.page-brand__technologies__subtitle.anime.fadeUp(data-offset="25")
						| Мы&nbsp;не&nbsp;только активно используем передовые решения, но&nbsp;и&nbsp;создаём&nbsp;их
					.page-subtext.page-brand__technologies__subtext.anime.fadeUp(data-offset="25")
						| Одна из&nbsp;самых перспективных разработок Daichi&nbsp;&mdash; #[br] это Wi-Fi-контроллер, управляющий работой сплит-систем  и&nbsp;полупромышленных кондиционеров. А&nbsp;так&nbsp;же приложение и&nbsp;контроллер для централизованного управления системами VRF

					.h2.anime.fadeUp(data-offset="25")
						| При установке контроллера в&nbsp;систему кондиционирования смартфон или ноутбук становится интеллектуальным пультом для всего климатического оборудования, установленного дома, в&nbsp;офисе или на&nbsp;предприятии.
					.page-subtext.anime.fadeUp(data-offset="25")
						| Мобильное управление наделяет любой кондиционер функциями премиум-класса. Это возможность контроля через интернет из&nbsp;любой точки мира, лёгкая активация заранее заданных режимов, установка таймеров и&nbsp;расписаний.
					.page-subtext.anime.fadeUp(data-offset="25")
						| Важно, что контроллеры работают как с&nbsp;оборудованием Daichi, так и&nbsp;с&nbsp;климатической техникой других брендов, и&nbsp;их&nbsp;список постоянно расширяется.
					.page-subtext.anime.fadeUp(data-offset="25")
						| Единое приложение Daichi Comfort позволит управлять сплит-системами, мульти-сплитсистемами, полупромышленным оборудованием и&nbsp;системами VRF, где&nbsp;бы вы&nbsp;ни&nbsp;находились.
					.page-subtext.anime.fadeUp(data-offset="25")
						| Для дистанционной работы с&nbsp;мультизональной VRF-системой достаточно установить контроллер на&nbsp;центральном модуле VRF. Кроме управления всеми внутренними климатическими блоками, доступно подключение к&nbsp;системам управления зданиями (BMS) и&nbsp;&laquo;умным домом&raquo; через протоколы MODBUS, BACnet, HDL и&nbsp;KNX.

					.h2.anime.fadeUp(data-offset="25")
						| Умные решения для контроля климата через приложение Daichi Comfort
					.page-brand__technologies__text.anime.fadeUp(data-offset="25")
						| Благодаря контроллеру Daichi теперь можно управлять кондиционированием через смартфон или ноутбук. Центр управления всего климатического оборудования, установленного дома, в&nbsp;офисе или на&nbsp;предприятии, теперь всегда у&nbsp;вас в&nbsp;кармане.

			.page-brand__technologies__benefits
				.page-brand__technologies__benefits__row
					.page-brand__technologies__benefits__col
						.page-brand__technologies__benefits__item
							.page-brand__technologies__benefits__item__image.anime.fadeUp(data-offset="25")
								img(src="./images/brand-benefits.jpg" alt="")
							.page-brand__technologies__benefits__item__content.anime.fadeUp(data-offset="25")
								.page-brand__technologies__benefits__item__title
									| Wi-Fi-контроллеры для бытовых и&nbsp;полупромышленных кондиционеров
								.page-brand__technologies__benefits__item__text
									| DW01/11-B
					.page-brand__technologies__benefits__col
						.page-brand__technologies__benefits__item
							.page-brand__technologies__benefits__item__image.anime.fadeUp(data-offset="25")
								img(src="./images/brand-benefits-2.jpg" alt="")
							.page-brand__technologies__benefits__item__content.anime.fadeUp(data-offset="25")
								.page-brand__technologies__benefits__item__title
									| Wi-Fi-контроллер для полупромышленных кондиционеров
								.page-brand__technologies__benefits__item__text
									| DW01/11-B, DW01-BL
						.page-brand__technologies__benefits__item
							.page-brand__technologies__benefits__item__image.anime.fadeUp(data-offset="25")
								img(src="./images/brand-benefits-3.jpg" alt="")
							.page-brand__technologies__benefits__item__content.anime.fadeUp(data-offset="25")
								.page-brand__technologies__benefits__item__title
									| Контроллер централизованного управления климатическими системами
								.page-brand__technologies__benefits__item__text
									| DCM-NET-01, DCM-BMS-01

	.page-brand__program
		.page-brand__program__bg
		.container
			.wrapper
				.wrapper__side.page-brand__program__side
					.page-brand__program__logo.anime.fadeUp
						img(src="./images/logo-comfort.svg" alt="")
				.wrapper__content
					.h2.page-brand__program__title.anime.fadeUp
						| Интеллектуальная #[br] система сервисной поддержки
					.page-brand__program__text.anime.fadeUp
						b У&nbsp;бренда Daichi выстроена умная система послепродажного сервиса, который делает обслуживание кондиционера простым, а&nbsp;владение им&nbsp;&mdash; более чем комфортным.
					.page-brand__program__text.anime.fadeUp
						| Инженерный центр Даичи&nbsp;&mdash; это по-настоящему отлаженная справочно-сервисная служба, готовая решить любые задачи, связанные с&nbsp;технической поддержкой. Помимо этого, потребители техники Daichi могут подключиться к&nbsp;программам &laquo;Климат онлайн&raquo; и&nbsp;&laquo;Мой комфорт&raquo;, доступным по&nbsp;подписке. Эти опции предусматривают онлайн-мониторинг работы климатической техники, дистанционное выявление возможных проблем, а&nbsp;также полную гарантию бесперебойной работы системы кондиционирования с&nbsp;последующей бесплатной заменой кондиционера на&nbsp;новый.

			.wrapper
				.wrapper__side.page-brand__program__side
					.page-brand__program__desc.anime.fadeUp.for-desktop
						| Предложение доступно по&nbsp;годовой подписке Обслуживание и&nbsp;регламентные работы оплачиваются по&nbsp;прейскуранту.
				.wrapper__content
					.h3.page-brand__program__subtitle.anime.fadeUp
						| Программа «Климат онлайн»
					.page-brand__program__text.anime.fadeUp
						b Программа &laquo;Климат онлайн&raquo;&nbsp;&mdash; это подписка на интернет-подключение кондиционера  к&nbsp;службе дистанционного мониторинга параметров оборудования.
					.page-brand__program__text.anime.fadeUp
						| Центр мониторинга Даичи принимает сигналы о&nbsp;состоянии кондиционера, узнает о&nbsp;неполадках, проводит дистанционную диагностику, оператор сервисной службы связывается с&nbsp;владельцем кондиционера, предлагая ему устранить неполадки.

			.wrapper
				.wrapper__side
					.page-brand__program__desc.anime.fadeUp.for-desktop
						| В&nbsp;2021 году услуга доступна на&nbsp;территории Москвы и&nbsp;Московской области для нового, а&nbsp;также установленного в&nbsp;2018-2020&nbsp;гг. оборудования сплит, мульти.
					.page-brand__program__desc.anime.fadeUp.for-desktop
						| Программу &laquo;Мой комфорт&raquo; можно приобрести без установки контроллера, в&nbsp;этом случае услуга мониторинга не&nbsp;оказывается.
				.wrapper__content
					.h3.page-brand__program__subtitle.anime.fadeUp
						| Программа «Мой комфорт»
					.page-brand__program__text.anime.fadeUp
						| Мой комфорт&nbsp;&mdash; это подписка на&nbsp;бесперебойную работу кондиционера независимо от&nbsp;срока его эксплуатации. Подписка на&nbsp;программу &laquo;Мой комфорт&raquo; предлагается в&nbsp;трех вариантах:
					.tab.page-brand__program__tab(data-app="tab")
						.tab-list.anime.fadeUp
							ul
								li
									a.is-active(href="#" data-tab="tab-1")
										| Мой комфорт
								li
									a(href="#" data-tab="tab-2")
										| Мой комфорт Плюс
								li
									a(href="#" data-tab="tab-3")
										| Мой комфорт Премиум
						.tab__content.anime.fadeUp
							.tab__item.is-active(data-tab="tab-1")
								.h4.page-brand__program__tab__title
									| Абонентская плата по принципу «все включено»!
								.page-brand__program__tab__text
									| В&nbsp;программе &laquo;Мой комфорт&raquo; предоставляются те же&nbsp;виды услуг, что&nbsp;и&nbsp;в&nbsp;&laquo;Мой&nbsp;Комфорт Премиум&raquo;, с&nbsp;той разницей, что без дополнительной оплаты поставляются все запасные части и комплектующие, а&nbsp;работы оплачиваются отдельно по&nbsp;прейскуранту, от&nbsp;которого предоставляется скидка&nbsp;10%.
								.page-brand__program__tab__text
									| При наличии установленного контроллера Daichi, услуга предусматривает круглосуточный онлайн прием и&nbsp;анализ диагностических сигналов кондиционера в&nbsp;центре мониторинга Даичи. Неполадки диагностируются и&nbsp;устраняются в удобное для владельца время в&nbsp;течение двух рабочих дней без дополнительной оплаты.
								.page-brand__program__tab__text
									| Кроме того, в&nbsp;услугу входит ежегодное бесплатное техническое обслуживание кондиционера, включающее его дезинфекцию.
								.page-brand__program__tab__text
									| Клиенту также предоставляется консьержслужба по&nbsp;вопросам климата&nbsp;&mdash; личный ассистент, консультирующий по&nbsp;телефону
							.tab__item(data-tab="tab-2")
								.h4.page-brand__program__tab__title
									| Абонентская плата по принципу «все включено»!
								.page-brand__program__tab__text
									| В&nbsp;программе &laquo;Мой комфорт&raquo; предоставляются те же&nbsp;виды услуг, что&nbsp;и&nbsp;в&nbsp;&laquo;Мой&nbsp;Комфорт Премиум&raquo;, с&nbsp;той разницей, что без дополнительной оплаты поставляются все запасные части и комплектующие, а&nbsp;работы оплачиваются отдельно по&nbsp;прейскуранту, от&nbsp;которого предоставляется скидка&nbsp;10%.
								.page-brand__program__tab__text
									| При наличии установленного контроллера Daichi, услуга предусматривает круглосуточный онлайн прием и&nbsp;анализ диагностических сигналов кондиционера в&nbsp;центре мониторинга Даичи. Неполадки диагностируются и&nbsp;устраняются в удобное для владельца время в&nbsp;течение двух рабочих дней без дополнительной оплаты.
								.page-brand__program__tab__text
									| Кроме того, в&nbsp;услугу входит ежегодное бесплатное техническое обслуживание кондиционера, включающее его дезинфекцию.
								.page-brand__program__tab__text
									| Клиенту также предоставляется консьержслужба по&nbsp;вопросам климата&nbsp;&mdash; личный ассистент, консультирующий по&nbsp;телефону
							.tab__item(data-tab="tab-3")
								.h4.page-brand__program__tab__title
									| Абонентская плата по принципу «все включено»!
								.page-brand__program__tab__text
									| В&nbsp;программе &laquo;Мой комфорт&raquo; предоставляются те же&nbsp;виды услуг, что&nbsp;и&nbsp;в&nbsp;&laquo;Мой&nbsp;Комфорт Премиум&raquo;, с&nbsp;той разницей, что без дополнительной оплаты поставляются все запасные части и комплектующие, а&nbsp;работы оплачиваются отдельно по&nbsp;прейскуранту, от&nbsp;которого предоставляется скидка&nbsp;10%.
								.page-brand__program__tab__text
									| При наличии установленного контроллера Daichi, услуга предусматривает круглосуточный онлайн прием и&nbsp;анализ диагностических сигналов кондиционера в&nbsp;центре мониторинга Даичи. Неполадки диагностируются и&nbsp;устраняются в удобное для владельца время в&nbsp;течение двух рабочих дней без дополнительной оплаты.
								.page-brand__program__tab__text
									| Кроме того, в&nbsp;услугу входит ежегодное бесплатное техническое обслуживание кондиционера, включающее его дезинфекцию.
								.page-brand__program__tab__text
									| Клиенту также предоставляется консьержслужба по&nbsp;вопросам климата&nbsp;&mdash; личный ассистент, консультирующий по&nbsp;телефону
					.page-brand__program__desc.anime.fadeUp.for-mobile
						| Предложение доступно по&nbsp;годовой подписке Обслуживание и&nbsp;регламентные работы оплачиваются по&nbsp;прейскуранту.
					.page-brand__program__desc.anime.fadeUp.for-mobile
						| В&nbsp;2021 году услуга доступна на&nbsp;территории Москвы и&nbsp;Московской области для нового, а&nbsp;также установленного в&nbsp;2018-2020&nbsp;гг. оборудования сплит, мульти.
					.page-brand__program__desc.anime.fadeUp.for-mobile
						| Программу &laquo;Мой комфорт&raquo; можно приобрести без установки контроллера, в&nbsp;этом случае услуга мониторинга не&nbsp;оказывается.

	include ../components/bottom-menu
