.container
	.breadcrumbs
		ul
			li: a(href="index.html") Главная
			li Каталог

	.page-catalog
		.intro
			.intro__head.anime.fadeUp
				h1.intro__title
					| Каталог борудования
				.h3.intro__subtitle
					| Создаем комфорт в ваших домах и&nbsp;общественных пространствах
		//- .page-catalog__banner.anime.fadeUp
		//- 	.page-catalog__banner__content
		//- 		.h1.page-catalog__banner__title
		//- 			| Бытовые #[br]сплит-системы
		//- 		.page-catalog__banner__text
		//- 			| Комфорт и ничего лишнего
		//- 		.page-catalog__banner__button
		//- 			a.button(href="#") Смотреть все
		//- 	.page-catalog__banner__image
		//- 		img(src="./images/catalog-banner.png" alt="")
		.page-catalog__list
			.page-catalog__list__col.page-catalog__list__col--big.anime.fadeUp
				a.page-catalog__item.page-catalog__item--fill(href="#")
					.page-catalog__item__image
						img(src="./images/catalog-banner.png" alt="")
					.page-catalog__item__content
						.h3.page-catalog__item__title
							| Бытовые сплит-системы
						.page-catalog__item__text
							| Комфорт и ничего лишнего
			.page-catalog__list__col.anime.fadeUp
				a.page-catalog__item(href="#")
					.page-catalog__item__image.page-catalog__item__image--slim
						img(src="./images/catalog-1.png" alt="")
						.page-catalog__item__cloud
							img(src="./images/cloud.svg" alt="")
					.h3.page-catalog__item__title
						| Облачные кондиционеры
					.page-catalog__item__text
						| Управляются со смартфона, работают по подписке
			.page-catalog__list__col.anime.fadeUp
				a.page-catalog__item(href="#")
					.page-catalog__item__image.page-catalog__item__image--slim
						img(src="./images/catalog-2.png" alt="")
					.h3.page-catalog__item__title
						| Мультисистемы
					.page-catalog__item__text
						| Системы с одним наружным блоком и&nbsp;несколькими внутренними
			.page-catalog__list__col.anime.fadeUp
				a.page-catalog__item(href="#")
					.page-catalog__item__image.page-catalog__item__image--slim
						img(src="./images/catalog-3.png" alt="")
					.h3.page-catalog__item__title
						| Полупромышленные сплит-системы
					.page-catalog__item__text
						| Выгодный климат для больших помещений
			.page-catalog__list__col.anime.fadeUp
				a.page-catalog__item(href="#")
					.page-catalog__item__image.page-catalog__item__image--slim
						img(src="./images/catalog-4.png" alt="")
					.h3.page-catalog__item__title
						| Технологическое охлаждение
					.page-catalog__item__text
						| Высокопроизводительные инверторные системы для технологических объектов
			.page-catalog__list__col.anime.fadeUp
				a.page-catalog__item(href="#")
					.page-catalog__item__image.page-catalog__item__image--slim
						img(src="./images/catalog-6.png" alt="")
					.h3.page-catalog__item__title
						| Системы мобильного управления
					.page-catalog__item__text
						| Исскуственный интеллект вашего кондиционера
			.page-catalog__list__col.anime.fadeUp
				a.page-catalog__item(href="#")
					.page-catalog__item__image.page-catalog__item__image--slim
						img(src="./images/catalog-5.png" alt="")
					.h3.page-catalog__item__title
						| Аксессуары
					.page-catalog__item__text
						| Комфорт под вашим полным контролем
