.container
	.breadcrumbs
		ul
			li: a(href="index.html") Главная
			li: a(href="#") Каталог
			li Бытовые сплит-системы

.page-split
	.container
		.page-split__intro.anime.fadeUp
			.page-split__intro__content
				h1.page-title.page-split__intro__title
					| Бытовые сплит-системы
				.page-split__intro__image.for-mobile
					img(src="./images/split-intro.jpg" alt="")
				.h3.page-split__intro__subtitle
					| Комфорт и ничего лишнего
				.page-split__intro__text
					| Вводные текст про преимущества сплит-систем. Кондиционеры подключены к&nbsp;облачной системе Daichi, которая обеспечивает онлайн-мониторинг работы устройства. Пользователь и&nbsp;члены семьи могут управлять кондиционером со&nbsp;смартфона с&nbsp;помощью мобильного приложения Daichi Comfort и&nbsp;настроить различные автоматические сценарии, например, включение оборудования при приближении пользователя к&nbsp;дому. Кроме того, кондиционер работает с&nbsp;популярными голосовыми помощниками.
			.page-split__intro__image.for-desktop
				img(src="./images/split-intro.jpg" alt="")

		.page-split__menu.anime.fadeUp
			.page-split__menu__label
				b Серии бытовые сплит-систем
			.page-split__menu__list
				ul
					li: a.js-goto(href="#air") AIR
					li: a.js-goto(href="#x-treme") X-TREME PEAK
					li: a.js-goto(href="#02") 02
					li: a.js-goto(href="#peak") PEAK
					li: a.js-goto(href="#carbon") CARBON
					li: a.js-goto(href="#ice") ICE
					li: a.js-goto(href="#ice-plus") ICE+
					li: a.js-goto(href="#everest") EVEREST
					li: a.js-goto(href="#sky") SKY

	.page-split__list
		a.page-split__item.anime.fadeUp#air(href="#")
			.page-split__item__content
				h2.page-split__item__title
					| Серия AIR
				.h3.page-split__item__subtitle
					| Промо про серию
				.page-split__item__image
					img(src="./images/temp/30.png" alt="")
				.page-split__item__advantages
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/inverter-technology.svg" alt="")
						.page-split__item__advantages__item__text
							| Инверторные технологии
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/online-management.svg" alt="")
						.page-split__item__advantages__item__text
							| Wi-Fi, онлайн управление
			.page-split__item__hover
				.page-split__item__hover__image(style="background-image:url(./images/temp/39.jpg)")
				.page-split__item__hover__button
					.button Подробнее о AIR
		a.page-split__item.anime.fadeUp#x-treme(href="#")
			.page-split__item__content
				h2.page-split__item__title
					| Серия X-TREME PEAK
				.h3.page-split__item__subtitle
					| Промо про серию
				.page-split__item__image
					img(src="./images/temp/30.png" alt="")
				.page-split__item__advantages
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/inverter-technology.svg" alt="")
						.page-split__item__advantages__item__text
							| Инверторные технологии
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/online-management.svg" alt="")
						.page-split__item__advantages__item__text
							| Wi-Fi, онлайн управление
			.page-split__item__hover
				.page-split__item__hover__image(style="background-image:url(./images/temp/39.jpg)")
				.page-split__item__hover__button
					.button Подробнее о X-TREME PEAK
		a.page-split__item.anime.fadeUp#02(href="#")
			.page-split__item__content
				h2.page-split__item__title
					| Серия 0#[sub 2]
				.h3.page-split__item__subtitle
					| Cочетание надёжности и&nbsp;удобства
				.page-split__item__image
					img(src="./images/temp/31.png" alt="")
				.page-split__item__advantages
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/dc-inverter.svg" alt="")
						.page-split__item__advantages__item__text
							| DC inverter
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/online-management.svg" alt="")
						.page-split__item__advantages__item__text
							| Wi-Fi, онлайн управление
			.page-split__item__hover
				.page-split__item__hover__image(style="background-image:url(./images/temp/39.jpg)")
				.page-split__item__hover__button
					.button Подробнее о 0#[sub 2]
		a.page-split__item.anime.fadeUp#peak(href="#")
			.page-split__item__content
				h2.page-split__item__title
					| Серия PEAK
				.h3.page-split__item__subtitle
					| На вершине технологий
				.page-split__item__image
					img(src="./images/temp/32.png" alt="")
				.page-split__item__advantages
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/dc-inverter.svg" alt="")
						.page-split__item__advantages__item__text
							| inverter
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/online-management.svg" alt="")
						.page-split__item__advantages__item__text
							| Wi-Fi, онлайн управление
			.page-split__item__hover
				.page-split__item__hover__image(style="background-image:url(./images/temp/39.jpg)")
				.page-split__item__hover__button
					.button Подробнее о PEAK
		a.page-split__item.anime.fadeUp#carbon(href="#")
			.page-split__item__content
				h2.page-split__item__title
					| Серия CARBON
				.h3.page-split__item__subtitle
					| Ультрамодный черный блок
				.page-split__item__image
					img(src="./images/temp/33.png" alt="")
				.page-split__item__advantages
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/on-off.svg" alt="")
						.page-split__item__advantages__item__text
							| On/Off
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/online-management.svg" alt="")
						.page-split__item__advantages__item__text
							| Wi-Fi, онлайн управление
			.page-split__item__hover
				.page-split__item__hover__image(style="background-image:url(./images/temp/39.jpg)")
				.page-split__item__hover__button
					.button Подробнее о CARBON
		a.page-split__item.anime.fadeUp#ice(href="#")
			.page-split__item__content
				h2.page-split__item__title
					| Серия ICE
				.h3.page-split__item__subtitle
					| Промо про серию
				.page-split__item__image
					img(src="./images/temp/34.png" alt="")
				.page-split__item__advantages
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/on-off.svg" alt="")
						.page-split__item__advantages__item__text
							| On/Off
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/vertical-distribution.svg" alt="")
						.page-split__item__advantages__item__text
							| Вертикальное распределение
			.page-split__item__hover
				.page-split__item__hover__image(style="background-image:url(./images/temp/39.jpg)")
				.page-split__item__hover__button
					.button Подробнее о ICE
		a.page-split__item.anime.fadeUp#ice-plus(href="#")
			.page-split__item__content
				h2.page-split__item__title
					| Серия ICE+
				.h3.page-split__item__subtitle
					| Промо про серию
				.page-split__item__image
					img(src="./images/temp/35.png" alt="")
				.page-split__item__advantages
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/on-off.svg" alt="")
						.page-split__item__advantages__item__text
							| On/Off
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/warm-start.svg" alt="")
						.page-split__item__advantages__item__text
							| Подготовка к теплому старту
			.page-split__item__hover
				.page-split__item__hover__image(style="background-image:url(./images/temp/39.jpg)")
				.page-split__item__hover__button
					.button Подробнее о ICE+
		a.page-split__item.anime.fadeUp#everest(href="#")
			.page-split__item__content
				h2.page-split__item__title
					| Серия EVEREST
				.h3.page-split__item__subtitle
					| Свежесть горного воздуха
				.page-split__item__image
					img(src="./images/temp/36.png" alt="")
				.page-split__item__advantages
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
						img(src="./images/advantages/on-off.svg" alt="")
						.page-split__item__advantages__item__text
							| On/Off
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/energy-saving.svg" alt="")
						.page-split__item__advantages__item__text
							| Режим «ECO»
			.page-split__item__hover
				.page-split__item__hover__image(style="background-image:url(./images/temp/39.jpg)")
				.page-split__item__hover__button
					.button Подробнее о EVEREST
		a.page-split__item.anime.fadeUp#sky(href="#")
			.page-split__item__content
				h2.page-split__item__title
					| Серия SKY
				.h3.page-split__item__subtitle
					| Промо про серию
				.page-split__item__image
					img(src="./images/temp/37.png" alt="")
				.page-split__item__advantages
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/on-off.svg" alt="")
						.page-split__item__advantages__item__text
							| On/Off
					.page-split__item__advantages__item
						.page-split__item__advantages__item__image
							img(src="./images/advantages/inverter-technology.svg" alt="")
						.page-split__item__advantages__item__text
							| Вертикальное распределение
			.page-split__item__hover
				.page-split__item__hover__image(style="background-image:url(./images/temp/39.jpg)")
				.page-split__item__hover__button
					.button Подробнее о SKY
		a.page-split__item.page-split__item--presentation.anime.fadeUp(href="")
			h2.page-split__item__title
				| FTXB-C
			.page-split__item__image
				img(src="./images/temp/38.png" alt="")
			.link-arrow.page-split__item__link Смотреть презентацию
