.page-climate-online
	.container
		.breadcrumbs
			ul
				li: a(href="index.html") Главная
				li: a(href="#") Поддержка
				li Программа обслуживания «Климат онлайн»
		.intro.anime(data-app="intro")
			.intro__head
				h1.intro__title
					| Программа обслуживания «Климат онлайн»
				.h3.intro__subtitle
					| Сервисная служба «Даичи» всегда готова прийти на помощь!
			.intro__video
				.intro__video__preview(style="background-image:url(./images/climate-online-intro.jpg)")
				video(src="./images/intro.mp4")
				button.intro__video__play(type="button"): +svg('play')
				button.intro__video__pause(type="button")

		.page-climate-online__description
			.wrapper
				.wrapper__side
					.page-climate-online__description__logo.anime.fadeUp(data-offset="25")
						img(src="./images/climate-online.svg" alt="")
					.page-climate-online__description__footnote.for-desktop.anime.fadeUp(data-offset="25")
						| Не&nbsp;является публичной офертой.
				.wrapper__content
					.h1.page-climate-online__description__title.anime.fadeUp(data-offset="25")
						| Хотите, чтобы кондиционер служил&nbsp;долго?
					.page-subtext.page-climate-online__description__text.anime.fadeUp(data-offset="25")
						| Вы&nbsp;— обладатель дорогостоящей системы кондиционирования. Как и&nbsp;любое высокотехнологичное оборудование, кондиционер требует внимательного отношения.
						br
						| Заметите ли&nbsp;вы&nbsp;сигнал ошибки на&nbsp;дисплее или на&nbsp;пульте?
						br
						| Будете ли&nbsp;знать, что делать?
						br
						| Подключите программу «Климат онлайн» и&nbsp;доверьте решение этой проблемы профессионалам!
					.page-climate-online__description__footnote.for-mobile.anime.fadeUp(data-offset="25")
						| Не&nbsp;является публичной офертой.

		.page-climate-online__does
			.wrapper
				.wrapper__side
				.wrapper__content
					.h2.page-climate-online__does__title.anime.fadeUp(data-offset="25")
						| Что даёт программа «Климат Онлайн»?
					.page-climate-online__does__text.anime.fadeUp(data-offset="25")
						| Программа «Климат онлайн» — это подписка на интернет-подключение кондиционера к службе дистанционного мониторинга параметров оборудования. Центр мониторинга «Даичи» принимает сигналы о состоянии кондиционера, узнает о неполадках, проводит дистанционную диагностику, оператор сервисной службы связывается с владельцем кондиционера, предлагая ему устранить неполадки.
					.page-climate-online__does__row
						.page-climate-online__does__col.anime.fadeUp(data-offset="25")
							.page-climate-online__does__item
								.page-climate-online__does__item__image
									img(src="./images/climate-online-does-1.jpg" alt="")
								.h4.page-climate-online__does__item__title
									| Специалист «Даичи» всегда с&nbsp;Вами на&nbsp;связи
								.page-climate-online__does__item__text
									| При получении сигнала ошибки наш специалист определит неисправность и&nbsp;оперативно свяжется с&nbsp;клиентом. При необходимости клиенту будет предложено техническое обслуживание или ремонт.
						.page-climate-online__does__col.anime.fadeUp(data-offset="25")
							.page-climate-online__does__item
								.page-climate-online__does__item__image
									img(src="./images/climate-online-does-2.jpg" alt="")
									.page-climate-online__does__pulse
										svg(width='40' height='41' viewBox='0 0 40 41' fill='none')
											circle(cx='19.8873' cy='20.2846' r='19.3871' stroke='url(#paint0_linear)')
											defs
												lineargradient#paint0_linear(x1='19.8873' y1='0.397461' x2='19.8873' y2='40.1717' gradientUnits='userSpaceOnUse')
													stop(stop-color='#7BBAFF')
													stop(offset='1' stop-color='#FFDECB')
													stop(offset='1' stop-color='#FFDECB')
										svg(width='40' height='41' viewBox='0 0 40 41' fill='none')
											circle(cx='19.8873' cy='20.2846' r='19.3871' stroke='url(#paint0_linear)')
										svg(width='40' height='41' viewBox='0 0 40 41' fill='none')
											circle(cx='19.8873' cy='20.2846' r='19.3871' stroke='url(#paint0_linear)')
										svg(width='40' height='41' viewBox='0 0 40 41' fill='none')
											circle(cx='19.8873' cy='20.2846' r='19.3871' stroke='url(#paint0_linear)')
								.h4.page-climate-online__does__item__title
									| Дистанционное определение неисправностей
								.page-climate-online__does__item__text
									| Наличие диагностических функций контроллера позволяет Инженерному центру «Даичи» следить за&nbsp;параметрами работы климатической системы.

		.page-climate-online__problems
			.wrapper
				.wrapper__side
				.wrapper__content
					.h2.page-climate-online__problems__title.anime.fadeUp(data-offset="25")
						| Какие неполадки выявляет мониторинг?
					.page-climate-online__problems__text.anime.fadeUp(data-offset="25")
						| Существуют несколько типов неполадок, выявляемых дистанционно.
					.page-climate-online__problems__row
						.page-climate-online__problems__col.anime.fadeUp(data-offset="25")
							.page-climate-online__problems__item
								.page-climate-online__problems__item__image
									img(src="./images/climate-online-problems-1.svg" alt="")
								.page-climate-online__problems__item__title
									| Незначительные проблемы
								.page-climate-online__problems__item__text
									| Относящиеся к&nbsp;эксплуатации системы, например, засорившийся фильтр.
									br
									| При таких неполадках создается впечатление, что кондиционер работает, но&nbsp;его эффективность значительно снизилась.
						.page-climate-online__problems__col.anime.fadeUp(data-offset="25")
							.page-climate-online__problems__item
								.page-climate-online__problems__item__image
									img(src="./images/climate-online-problems-2.svg" alt="")
								.page-climate-online__problems__item__title
									| Серьезные сбои
								.page-climate-online__problems__item__text
									| Которые могут привести к выходу кондиционера из строя: недостаток хладагента, неисправность компрессора, нарушение связи между блоками, отсутствие электропитания и прочие.
					.page-subtext.anime.fadeUp(data-offset="25")
						| Если диагностику или устранение неполадок невозможно сделать дистанционно, то&nbsp;сервисная служба организует выезд технических специалистов для проведения работ на&nbsp;месте установки кондиционера в&nbsp;удобное для вас время.

		.page-climate-online__works
			.wrapper
				.wrapper__side
				.wrapper__content
					.h2.page-climate-online__works__title.anime.fadeUp(data-offset="25")
						| Как это работает?
					.page-climate-online__works__text.anime.fadeUp(data-offset="25")
						| В своей работе Инженерный центр «Даичи» использует системы мобильного управления, основанные на&nbsp;облачных технологиях. Климатическая техника, поставляемая «Даичи», оборудуется специальными контроллерами, предназначенными для мониторинга работы и&nbsp;управления с&nbsp;мобильных устройств.
			.page-climate-online__works__row
				.page-climate-online__works__col.anime.fadeUp(data-offset="25")
					.page-climate-online__works__item
						.page-climate-online__works__item__image
							img(src="./images/climate-online-works-1.svg" alt="")
						.page-climate-online__works__item__text
							| Обнаружена неисправность
				.page-climate-online__works__col.anime.fadeUp(data-offset="25")
					.page-climate-online__works__item
						.page-climate-online__works__item__arrow
							+svg('climate-online-arrow')
						.page-climate-online__works__item__image
							img(src="./images/climate-online-works-2.svg" alt="")
						.page-climate-online__works__item__text
							| Контроллер посылает сигнал в&nbsp;«Облако Даичи»
				.page-climate-online__works__col.anime.fadeUp(data-offset="25")
					.page-climate-online__works__item
						.page-climate-online__works__item__arrow
							+svg('climate-online-arrow')
						.page-climate-online__works__item__image
							img(src="./images/climate-online-works-3.svg" alt="")
						.page-climate-online__works__item__text
							| Специалист связывается с&nbsp;клиентом
				.page-climate-online__works__col.anime.fadeUp(data-offset="25")
					.page-climate-online__works__item
						.page-climate-online__works__item__arrow
							+svg('climate-online-arrow2')
						.page-climate-online__works__item__image
							img(src="./images/climate-online-works-4.svg" alt="")
						.page-climate-online__works__item__text
							| Специалист выезжает к&nbsp;клиенту
				.page-climate-online__works__col.anime.fadeUp(data-offset="25")
					.page-climate-online__works__item
						.page-climate-online__works__item__arrow
							+svg('climate-online-arrow2')
						.page-climate-online__works__item__image
							img(src="./images/climate-online-works-5.svg" alt="")
						.page-climate-online__works__item__text
							| Неисправность устранена
			.wrapper
				.wrapper__side
				.wrapper__content
					.page-subtext.anime.fadeUp(data-offset="25")
						| Инженерный центр «Даичи»&nbsp;— это команда профессионалов российского климатического рынка. Наши специалисты прошли обучение и&nbsp;аттестацию на&nbsp;заводах производителей, что позволяет им&nbsp;выполнять задачи любой сложности на&nbsp;самом высоком уровне.
					.anime.fadeUp(data-offset="25")
						| Благодаря системам мобильного управления инженерный центр имеет круглосуточный доступ к&nbsp;параметрам работы климатической техники клиента.
						br
						| При необходимости специалисты инженерного центра сами связываются с&nbsp;клиентом, предлагая провести профилактическое обслуживание или ремонт. Инженеры выезжают уже с&nbsp;нужным технологическим оборудованием и&nbsp;запасными частями.
						br
						| Данная функция выполняется по&nbsp;желанию владельца в&nbsp;рамках премиальной программы обслуживания «Климат Онлайн»

		.page-climate-online__price
			.wrapper
				.wrapper__side
				.wrapper__content
					.h2.page-climate-online__price__title.anime.fadeUp(data-offset="25")
						| Сколько это стоит?
					.page-subtext.page-climate-online__price__text.anime.fadeUp(data-offset="25")
						| Программа продается в виде годовой подписки с возможностью пролонгации. Стоимость 1 000 руб. в год. Оплата производится при заключении договора.
					.page-climate-online__price__button.anime.fadeUp(data-offset="25")
						a.button(href="#callback" data-fancybox) Заказать

		.page-climate-online__devices
			.wrapper
				.wrapper__side
				.wrapper__content
					.h2.page-climate-online__devices__title.anime.fadeUp(data-offset="25")
						| Контроллеры Daichi и мобильное управление
					.page-subtext.page-climate-online__devices__text.anime.fadeUp(data-offset="25")
						| При наличии установленного контроллера Daichi, услуга предусматривает круглосуточный онлайн-прием и анализ диагностических сигналов кондиционера в центре мониторинга «Даичи». Неполадки диагностируются и устраняются в удобное для владельца время в течение двух рабочих дней.
					.page-climate-online__devices__list(data-app="tab")
						.tab-list.anime.fadeUp(data-offset="25")
							ul
								li
									a.is-active(href="#" data-tab="tab-1") Сплит-системы
								li
									a(href="#" data-tab="tab-2") Системы VRF
						.tab__content
							.tab__item.is-active(data-tab="tab-1")
								.page-product__accessories.anime.fadeUp(data-offset="25")
									.page-product__accessories__image
										img(src="./images/temp/43.jpg" alt="")
									.page-product__accessories__content
										.page-product__accessories__head
											.h4.page-product__accessories__title
												| Wi-Fi-контроллер Daichi DW11-BL
											.h4.page-product__accessories__price
												| от 5 990 ₽
										.page-product__accessories__row
											.page-product__accessories__info
												ul
													li
														.page-product__accessories__info__label Габариты, ШхГхВ, мм
														span 100x22x55
													li
														.page-product__accessories__info__label Вес нетто
														span 0,156
													li
														.page-product__accessories__info__label Шифрование
														span WEP/TKIP/AES
													li
														.page-product__accessories__info__label Безопасность
														span WPA/WPA2
											.page-product__accessories__button
												a.button(href="#") Подробнее
								.page-product__accessories.anime.fadeUp(data-offset="25")
									.page-product__accessories__image
										img(src="./images/temp/61.jpg" alt="")
									.page-product__accessories__content
										.page-product__accessories__head
											.h4.page-product__accessories__title
												| Мобильное приложение для кoнтpoллepa Daichi
											.h4.page-product__accessories__price
												| Бесплатно
										.page-product__accessories__row
											.page-product__accessories__info
												ul
													li Доступно для iOS и Android
													li ★★★★☆ 4,2
											.page-product__accessories__button
												a.button(href="#") Подробнее
							.tab__item(data-tab="tab-2")
								.page-product__accessories.anime.fadeUp(data-offset="25")
									.page-product__accessories__image
										img(src="./images/temp/61.jpg" alt="")
									.page-product__accessories__content
										.page-product__accessories__head
											.h4.page-product__accessories__title
												| Мобильное приложение для кoнтpoллepa Daichi
											.h4.page-product__accessories__price
												| Бесплатно
										.page-product__accessories__row
											.page-product__accessories__info
												ul
													li Доступно для iOS и Android
													li ★★★★☆ 4,2
											.page-product__accessories__button
												a.button(href="#") Подробнее
								.page-product__accessories.anime.fadeUp(data-offset="25")
									.page-product__accessories__image
										img(src="./images/temp/43.jpg" alt="")
									.page-product__accessories__content
										.page-product__accessories__head
											.h4.page-product__accessories__title
												| Wi-Fi-контроллер Daichi DW11-BL
											.h4.page-product__accessories__price
												| от 5 990 ₽
										.page-product__accessories__row
											.page-product__accessories__info
												ul
													li
														.page-product__accessories__info__label Габариты, ШхГхВ, мм
														span 100x22x55
													li
														.page-product__accessories__info__label Вес нетто
														span 0,156
													li
														.page-product__accessories__info__label Шифрование
														span WEP/TKIP/AES
													li
														.page-product__accessories__info__label Безопасность
														span WPA/WPA2
											.page-product__accessories__button
												a.button(href="#") Подробнее

	.accordion.anime(data-offset="25" data-app="accordion")
		.container
			.wrapper
				.wrapper__side
				.wrapper__content
					.h3.accordion__title
						| Вопросы и ответы
					.accordion__list
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									b Какие операции входят в ежегодное сервисное (техническое) обслуживание кондиционера и&nbsp;какова их стоимость?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									b Для каких кондиционеров доступны программы?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									b Почему услугу нельзя возобновить после перерыва?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									b Для чего необходимо проверять наличие действующего сертификата авторизованного партнера программы у компании, установившей кондиционер?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									b Что будет, если из строя выйдет блок целиком?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									b Вы обещаете отремонтировать за два рабочих дня, а если запчастей не окажется на складе?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									b Почему требуется какая-то дополнительная оплата запчастей и работы, которые мне полагаются бесплатно в период гарантийного обслуживания?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									b Подписка распространяется только на внутренний блок или на всю систему целиком?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									b Обязательно ли устанавливать контроллер для подключения услуги?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									b Если я уже подписан на «Климат онлайн» и хочу подписаться на «Мой комфорт Плюс», можно ли&nbsp;зачесть уже оплаченную услугу в стоимость новой услуги?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									b Что делать, если, например, после пяти лет эксплуатации у меня вышел из строя целый блок?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									b При продаже дома или квартиры с оборудованием с уже действующей услугой могу я получить абонентскую плату обратно?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item.accordion__item--hidden.is-hidden
							.accordion__item__header
								.accordion__item__header__text
									b Обязательно ли устанавливать контроллер для подключения услуги?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item.accordion__item--hidden.is-hidden
							.accordion__item__header
								.accordion__item__header__text
									b Если я уже подписан на «Климат онлайн» и хочу подписаться на «Мой комфорт Плюс», можно ли&nbsp;зачесть уже оплаченную услугу в стоимость новой услуги?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item.accordion__item--hidden.is-hidden
							.accordion__item__header
								.accordion__item__header__text
									b Что делать, если, например, после пяти лет эксплуатации у меня вышел из строя целый блок?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__item.accordion__item--hidden.is-hidden
							.accordion__item__header
								.accordion__item__header__text
									b При продаже дома или квартиры с оборудованием с уже действующей услугой могу я получить абонентскую плату обратно?
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__text.page-text-list.page-text
									| Услуга предоставляется для кондиционеров:
									ul
										li торговых марок Daikin, Midea, Kentatsu, Daichi, Axioma, Aurum и Primera.
										li установленных не более 4-х лет назад
										li установленных компанией, имеющей действующий сертификат авторизованных партнеров программы «Даичи».
										li зарегистрированных на сайте компании «Даичи»
									| #[a(href="#") Зарегистрироваться] можно самостоятельно онлайн или во время регистрации договора на услугу.
						.accordion__more.anime.fadeUp(data-offset="25")
							a.button.button--white.js-show-hide(href="#" data-target=".accordion__item--hidden" data-on="Скрыть" data-off="Показать еще") Показать еще

	include ../components/bottom-menu
