.container
	.breadcrumbs
		ul
			li: a(href="index.html") Главная
			li: a(href="#") Поддержка
			li Гарантия

	.page-guarantee
		.intro.anime
			.intro__head
				h1.intro__title
					| Гарантия
			.intro__video
				img(src="./images/guarantee.jpg" alt="")
		.page-guarantee__row
			.page-guarantee__col
				.page-guarantee__item
					.h3.page-guarantee__item__title
						| Регистрация гарантийного талона
					.page-guarantee__item__text
						| На оборудование торговой марки Daichi действует гарантия производителя. Срок и условия гарантии зависят от марки и модели оборудования. Для улучшения качества обслуживания зарегистрируйте ваш гарантийный талон у нас на сайте.
					.page-guarantee__item__button
						a.button(href="#") Перейти к регистрации
			.page-guarantee__col
				.page-guarantee__item
					.h3.page-guarantee__item__title
						| Гарантийное обращение
					.page-guarantee__item__text
						| Произошел гарантийный случай?
						br
						| Оставьте Вашу заявку и мы с Вами свяжемся.
					.page-guarantee__item__button
						a.button(href="#callback" data-fancybox) Форма обращения
