.container
	.breadcrumbs
		ul
			li: a(href="index.html") Главная
			li: a(href="#") Каталог
			li: a(href="#") Кондиционирование
			li: a(href="#") Бытовые сплит-системы
			li: a(href="#") Серия AIR
			li Daichi AIR25AVQS1R/AIR25FVS1R
	.page-product
		.page-product__head.anime.fadeUp
			.page-product__head__content
				h1.page-product__title.page-product__title--width-937
					| Облачный кондиционер Daichi A20AVQ1/A20FV1
				.h3.page-product__subtitle
					| Управляется со&nbsp;смартфона, работает по&nbsp;подписке
			.page-product__advantages.page-product__advantages--1
				.page-product__advantages__item
					.page-product__advantages__item__image
						img(src="./images/about-cloud-air-1.svg" alt="")
		.h1.page-product__price.anime.fadeUp
			| 36&nbsp;999&nbsp;₽
		.page-product__plus.anime.fadeUp
			| + К&nbsp;оплате после установки кондиционера
		.h2.page-product__cost.anime.fadeUp
			| 2&nbsp;799&nbsp;₽
			sup / год
		.page-product__plus.anime.fadeUp
			| или
		.h2.page-product__cost.anime.fadeUp
			| 7 999 ₽
			sup / бессрочный доступ
		.page-product__text.anime.fadeUp
			| Облачный кондиционер работает только при наличии двустороннего доступа к&nbsp;интернет через WiFi и&nbsp;оплаченной подписке на&nbsp;Облачный сервис Даичи!
			a.link-text(href="#") Подробнее

		.page-product__slider.anime.fadeUp(data-app="product-slider")
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/40.png" alt="")
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/41.png" alt="")
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/42.png" alt="")
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/40.png" alt="")
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/41.png" alt="")
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/42.png" alt="")
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/40.png" alt="")
			.progress

		.tab.page-product__tab.anime.fadeUp(data-app="tab")
			.tab-list
				ul
					li: a.is-active(href="#" data-tab="tab-1") Описание
					li: a(href="#" data-tab="tab-2") Характеристики
					li: a(href="#" data-tab="tab-3") Особенности
					li: a(href="#" data-tab="tab-4") Аксессуары
					li: a(href="#" data-tab="tab-5") Где купить
					li: a(href="#" data-tab="tab-6") Документация
					li: a(href="#" data-tab="tab-7") Видео
			.tab__content
				.tab__item.is-active(data-tab="tab-1")
					.page-content
						.wrapper
							.wrapper__side
							.wrapper__content
								.page-content__wrapper
									.h2.page-content__title.anime.fadeUp
										| Облачный кондиционер управляется с&nbsp;помощью пульта, смартфона или&nbsp;ПК, работает по&nbsp;подписке!
									.page-text-list.anime.fadeUp
										ol
											li.h3 Оплачиваете стоимость оборудования
											li.h3 Устанавливаете кондиционер и&nbsp;подключаете его к&nbsp;облачному серверу через мобильное приложение
											li.h3 Платите фиксированный ежегодный платёж или покупаете бессрочную подписку и&nbsp;получаете доступ к&nbsp;управлению кондиционером и&nbsp;к&nbsp;Облачному сервису Даичи
									.h2.page-content__title.anime.fadeUp
										| Что входит в&nbsp;состав оборудования?
									.page-text-list.anime.fadeUp
										ul
											li Наружный блок кондиционера
											li Внутренний блок кондиционера
											li Встроенный модуль управления через Wi‑Fi
											li Пульт управления
											li На&nbsp;всё предоставляется 2&nbsp;года гарантии
								.h2.page-content__title.anime.fadeUp
									| Что входит в&nbsp;Облачный сервис Даичи?
						.page-content__row
							.page-content__row__col
								.page-content__item.page-content__item--big
									.page-content__item__image.anime.fadeUp
										img(src="./images/page-content.jpg" alt="")
									.page-content__item__content
										.page-content__item__text.anime.fadeUp
											| 24/7 онлайн диагностика и&nbsp;мониторинг работы Облачного кондиционера
										.page-content__item__button.anime.fadeUp
											a.button.button--white(href="#") Подробнее
								.page-content__item
									.page-content__item__image.anime.fadeUp
										img(src="./images/page-content-2.jpg" alt="")
									.page-content__item__content
										.page-content__item__text.anime.fadeUp
											| 2&nbsp;года дополнительной гарантии на&nbsp;кондиционер
								.page-content__item.page-content__item--small
									.page-content__item__image.anime.fadeUp
										img(src="./images/page-content-3.jpg" alt="")
									.page-content__item__content
										.page-content__item__text.anime.fadeUp
											| Облачный кондиционер работает только при наличии интернет-соединения через Wi‑Fi и&nbsp;оплаченной подписке
							.page-content__row__col
								.page-content__item
									.page-content__item__image.anime.fadeUp
										img(src="./images/page-content-4.jpg" alt="")
									.page-content__item__content
										.page-content__item__text.anime.fadeUp
											| Управление со&nbsp;смартфона или&nbsp;ПК с&nbsp;помощью приложения Daichi Comfort
										.page-content__item__button.anime.fadeUp
											a.button.button--white(href="#") Подробнее
								.page-content__item
									.page-content__item__image.anime.fadeUp
										img(src="./images/page-content-5.jpg" alt="")
									.page-content__item__content
										.page-content__item__text.anime.fadeUp
											| Консультационная служба по&nbsp;вопросам работы Облачного кондиционера
								.page-content__item
									.page-content__item__image.anime.fadeUp
										img(src="./images/page-content-6.jpg" alt="")
									.page-content__item__content
										.page-content__item__text.anime.fadeUp
											| Личный кабинет клиента для управления подпиской
						.wrapper
							.wrapper__side
							.wrapper__content
								.page-content__wrapper
									.h2.page-content__title.anime.fadeUp
										| Как оплатить подписку #[br] на&nbsp;Облачный сервис Даичи?
									.h3.page-content__subtitle.anime.fadeUp
										| Подписка на&nbsp;Облачный сервис Даичи оплачивается в&nbsp;Личном кабинете клиента на&nbsp;сайте #[a.link-text(href="#") lk.daichi.ru] после установки кондиционера.
									.h3.page-content__subtitle.anime.fadeUp
										| Для активации необходимо приобрести один из&nbsp;предложенных тарифов: &laquo;Подписка на&nbsp;1&nbsp;год&raquo; или&nbsp;&laquo;Бессрочный доступ&raquo;.
								.page-content__inner
									.page-content__inner__col
										.page-content__block.anime.fadeUp
											.h4.page-content__block__title.anime.fadeUp
												| Подписка на&nbsp;1&nbsp;год
											.page-content__block__text.anime.fadeUp
												| При оплате подписки по&nbsp;тарифу &laquo;Подписка на&nbsp;1&nbsp;год &raquo; предоставляется доступ к&nbsp;управлению кондиционером на&nbsp;365 дней с&nbsp;момента оплаты.
											.page-content__block__text.anime.fadeUp
												| Через 365 дней необходимо снова оплатить подписку для продления доступа к&nbsp;управлению устройством.
									.page-content__inner__col
										.page-content__block.anime.fadeUp
											.h4.page-content__block__title.anime.fadeUp
												| Бессрочный доступ
											.page-content__block__text.anime.fadeUp
												| При оплате подписки по&nbsp;тарифу &laquo;Бессрочный доступ&raquo; доступ к&nbsp;управлению предоставляется на&nbsp;весь срок жизненного цикла кондиционера.
											.page-content__block__text.anime.fadeUp
												| Цена тарифа равна сумме 3&nbsp;ежегодных платежей, выплачиваемых единовременно.
								.page-content__text.anime.fadeUp
									| Подробная инструкция по&nbsp;подключению Облачного кондиционера и&nbsp;оплате подписки размещена на&nbsp;#[a.text-link(href="https://daichi.cloud/cloud-install") daichi.cloud/cloud-install], QR‑код со&nbsp;ссылкой на&nbsp;инструкцию расположен на&nbsp;торце Облачного кондиционера.
				.tab__item(data-tab="tab-2")
					.wrapper
						.wrapper__side
						.wrapper__content
							.h2.page-product__tab__title
								| Характеристики
							.table.page-product__table
								table
									thead
										tr
											th
											th
									tbody
										tr
											td Серия
											td Air
										tr
											td Инверторные
											td Да
										tr
											td Потребляемая мощность, охлаждение, кВт
											td 1,38~0,8~0,24
										tr
											td Класс энергоэффективности, охлаждение
											td A
										tr
											td Холодопроизводительность, кВт, макс.
											td 3,30
										tr
											td Теплопроизводительность, кВт, макс.
											td 3,36
										tr
											td Уровень шума
											td 22
										tr
											td Гарантия
											td: b 3 года
										tr.page-product__table__hidden.is-hidden
											td Серия
											td Air
										tr.page-product__table__hidden.is-hidden
											td Инверторные
											td Да
										tr.page-product__table__hidden.is-hidden
											td Потребляемая мощность, охлаждение, кВт
											td 1,38~0,8~0,24
										tr.page-product__table__hidden.is-hidden
											td Класс энергоэффективности, охлаждение
											td A
										tr.page-product__table__hidden.is-hidden
											td Холодопроизводительность, кВт, макс.
											td 3,30
										tr.page-product__table__hidden.is-hidden
											td Теплопроизводительность, кВт, макс.
											td 3,36
										tr.page-product__table__hidden.is-hidden
											td Уровень шума
											td 22
										tr.page-product__table__hidden.is-hidden
											td Гарантия
											td 3 года
							.page-product__button-white
								a.button.button--white.js-show-hide(href="#" data-target=".page-product__table__hidden" data-on="Скрыть" data-off="Все характеристики") Все характеристики
				.tab__item(data-tab="tab-3")
					.wrapper
						.wrapper__side
						.wrapper__content
							.h2.page-product__tab__title
								| Особенности
							.accordion.page-product__accordion(data-app="accordion")
								.accordion__item
									.accordion__item__header
										.accordion__item__header__text
											| Комфорт
											+svg('plus').accordion__item__header__icon
									.accordion__item__content
										.accordion__item__row
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/auto-mode.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Автоматический режим
														.accordion__item__point__text
															| Кондиционер автоматически выберет подходящий режим работы, на&nbsp;охлаждение или обогрев, в&nbsp;соответствии с&nbsp;заданной температурой
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/auto.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Авто
														.accordion__item__point__text
															| Автоматическое изменение скорости вращения вентилятора для поддержания стабильной температуры
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/local-comfort.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Локальный комфорт
														.accordion__item__point__text
															| Заданная температура поддерживается в&nbsp;месте нахождения дистанционного пульта
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/turbo.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Турбо
														.accordion__item__point__text
															| Для быстрого охлаждения или обогрева помещения компрессор и&nbsp;вентилятор внутреннего блока работают на&nbsp;максимальных оборотах
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/comfortable-air-distribution.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Комфортное воздухораспределение
														.accordion__item__point__text
															| Эта функция автоматически меняет направление подачи воздуха в&nbsp;зависимости от&nbsp;температуры и&nbsp;обеспечивает равномерный температурный фон по&nbsp;всему объему помещения
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/duty-mode.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Режим «Дежурный»
														.accordion__item__point__text
															| В&nbsp;режиме обогрева в&nbsp;помещении будет стабильно поддерживаться температура выше 0&nbsp;&deg;С&nbsp;во&nbsp;время вашего отсутствия
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/warm-start.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Подготовка к теплому старту
														.accordion__item__point__text
															| В&nbsp;режиме обогрева вентилятор внутреннего блока включается только после прогрева теплообменника внутреннего блока
								.accordion__item
									.accordion__item__header
										.accordion__item__header__text
											| Энергосбережение
											+svg('plus').accordion__item__header__icon
									.accordion__item__content
										.accordion__item__row
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/a-plus.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Высокий показатель SEER
														.accordion__item__point__text
															| Высокая сезонная энергоэффективность класса &laquo;А++&raquo; и&nbsp;&laquo;А+++&raquo; обеспечит значительное снижение годового потребления электроэнергии
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/energy-saving.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Режим энергосбережения
														.accordion__item__point__text
															| Производительность кондиционера принудительно снижается в&nbsp;случае необходимости использования другого бытового оборудования
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/dc-inverter.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b DC-инвертор
														.accordion__item__point__text
															| В&nbsp;компрессорах используются передовые инверторные технологии, дающие существенные преимущества в&nbsp;экономичности.
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/compressor-soft-start.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Плавный пуск компрессора
														.accordion__item__point__text
															| Программное обеспечение Soft Start ограничивает пусковой тое компрессора в&nbsp;целях снижения нагрузки на&nbsp;энергосистему.
								.accordion__item
									.accordion__item__header
										.accordion__item__header__text
											| Надежнсть
											+svg('plus').accordion__item__header__icon
									.accordion__item__content
										.accordion__item__row
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/automatic-restart.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Автоматический перезапуск
														.accordion__item__point__text
															| Автоматический перезапуск после устранения сбоя энергоснабжения
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/reliable-work.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Надежная работа
														.accordion__item__point__text
															| Многоуровневая защита узлов оборудования, высокая стабильность технических характеристик, включая работу в&nbsp;условиях крайне низких температур от &minus;15 до &minus;40 &deg;С.
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/resistant-voltage-surges.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Устойчивость к перепадам напряжения
														.accordion__item__point__text
															| Кондиционер надежно работает при колебаниях напряжения электропитания от&nbsp;170&nbsp;В до&nbsp;265&nbsp;В
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/corrosion-resistance.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Коррозионная стойкость
														.accordion__item__point__text
															| Корпус наружного блока и&nbsp;теплообменники имеют специальные покрытия для защиты от&nbsp;влаги, абразивных частиц и&nbsp;агрессивных веществ.
								.accordion__item
									.accordion__item__header
										.accordion__item__header__text
											| Здоровье
											+svg('plus').accordion__item__header__icon
									.accordion__item__content
										.accordion__item__row
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/anti-mold-treatment.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Противоплесневая обработка
														.accordion__item__point__text
															| В&nbsp;корпусе внутреннего блока плесень не&nbsp;образуется благодаря продуманной конструкции и&nbsp;работе вентилятора некоторое время после выключения устройства для устранения влаги
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/pre-filter.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Фильтр предварительной очистки
														.accordion__item__point__text
															| Эффективно задерживает тополиный пух, шерсть животных, пыль
								.accordion__item
									.accordion__item__header
										.accordion__item__header__text
											| Управление
											+svg('plus').accordion__item__header__icon
									.accordion__item__content
										.accordion__item__row
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/online-management.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Wi-Fi, онлайн управление
														.accordion__item__point__text
															| Кондиционер может управляться удаленно через интернет или локальную сеть через &laquo;облако Даичи&raquo; со&nbsp;смартфона, ПК
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/blocking.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Блокирока
														.accordion__item__point__text
															| Исключается управление кондиционером посторонними и&nbsp;детьми
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/timer-operation.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Работа по таймеру
														.accordion__item__point__text
															| Позволяет запрограммировать время ВКЛ/ВЫКЛ кондиционера (в&nbsp;зависимости от&nbsp;модели и&nbsp;типа таймер от&nbsp;24&nbsp;ч до&nbsp;2&nbsp;недель)
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/cooling.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Охлаждение и&nbsp;обогрев при низких температурах
														.accordion__item__point__text
															| Кондиционеры работоспособны при низких температурах наружного воздуха: при охлаждении до &minus;15 &deg;С, обогреве до &minus;15 ~ &minus;30 &deg;С
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/self-diagnosis.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Самодиагностика
														.accordion__item__point__text
															| Функция проверки технических параметров работы, препятствующая выходу оборудования из&nbsp;строя
											.accordion__item__col
												.accordion__item__point
													.accordion__item__point__icon
														img(src="./images/advantages/information-led-display.svg" alt="")
													.accordion__item__point__content
														.accordion__item__point__title
															b Информационный LED дисплей
														.accordion__item__point__text
															| Светодиодный дисплей c&nbsp;четким изображением и&nbsp;возможностью отключения ночью
				.tab__item(data-tab="tab-4")
					.wrapper
						.wrapper__side
						.wrapper__content
							.h2.page-product__tab__title
								| Аксессуары
							.page-product__accessories
								.page-product__accessories__image
									img(src="./images/temp/43.jpg" alt="")
								.page-product__accessories__content
									.page-product__accessories__head
										.h4.page-product__accessories__title
											| Wi-Fi-контроллер Daichi DW11-BL
										.h4.page-product__accessories__price
											| от 5 990 ₽
									.page-product__accessories__row
										.page-product__accessories__info
											ul
												li
													.page-product__accessories__info__label Габариты, ШхГхВ, мм
													span 100x22x55
												li
													.page-product__accessories__info__label Вес нетто
													span 0,156
												li
													.page-product__accessories__info__label Шифрование
													span WEP/TKIP/AES
												li
													.page-product__accessories__info__label Безопасность
													span WPA/WPA2
										.page-product__accessories__button
											a.button(href="#") Подробнее
							.page-product__accessories
								.page-product__accessories__image
									img(src="./images/temp/44.jpg" alt="")
								.page-product__accessories__content
									.page-product__accessories__head
										.h4.page-product__accessories__title
											| Проводной пульт управления Daichi DC18W
										.h4.page-product__accessories__price
											| от 4 990 ₽
									.page-product__accessories__row
										.page-product__accessories__info
											ul
												li
													.page-product__accessories__info__label Габариты, ШхГхВ, мм
													span 100x22x55
												li
													.page-product__accessories__info__label Вес нетто
													span 0,156
												li
													.page-product__accessories__info__label Шифрование
													span WEP/TKIP/AES
												li
													.page-product__accessories__info__label Безопасность
													span WPA/WPA2
										.page-product__accessories__button
											a.button(href="#") Подробнее
							.page-product__accessories
								.page-product__accessories__image
								.page-product__accessories__content
									.page-product__accessories__head
										.h4.page-product__accessories__title
											| Декоративная панель DPC06L
										.h4.page-product__accessories__price
											| от 11 990 ₽
									.page-product__accessories__row
										.page-product__accessories__info
											ul
												li
													.page-product__accessories__info__label Габариты, ШхГхВ, мм
													span 100x22x55
												li
													.page-product__accessories__info__label Вес нетто
													span 0,156
												li
													.page-product__accessories__info__label Шифрование
													span WEP/TKIP/AES
												li
													.page-product__accessories__info__label Безопасность
													span WPA/WPA2
										.page-product__accessories__button
											a.button(href="#") Подробнее
				.tab__item(data-tab="tab-5")
					.wrapper
						.wrapper__side
						.wrapper__content
							.h2.page-product__tab__title
								| Где купить
							.tab.page-product__buy(data-app="tab")
								.tab-list
									ul
										li: a(href="#" data-tab="tab-list") Списком
										li: a.is-active(href="#" data-tab="tab-map") На карте
								.tab__content
									.tab__item(data-tab="tab-list" data-app="nano")
										.page-product__shops.nano
											.nano-content
												.page-product__shops__row
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| Мир Комфорта
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| Фреоникс
															ul.page-product__shops__item__list
																li г. Москва, Шоссе Энтузиастов, д.31, стр.38, 3 этаж, офис №
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| Оптклимат
															ul.page-product__shops__item__list
																li мкр 1 мая, д.24 143911 Балашиха
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| СнабТехСтрой
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| ООО "Твоя Безопасность"
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| Мир Климата
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| ИП Меркушев С. С.
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| Мир Комфорта
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| Фреоникс
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| ООО "Твоя Безопасность"
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| СнабТехСтрой
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| ООО "Твоя Безопасность"
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| СнабТехСтрой
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| СнабТехСтрой
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| ООО "Твоя Безопасность"
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
													.page-product__shops__col
														.page-product__shops__item
															.page-product__shops__item__name
																| СнабТехСтрой
															ul.page-product__shops__item__list
																li г. Москва Проезд Завода Серп и молот, д.&nbsp;5, стр. 1 А
																li: a(href="tel:+74956486817") +7 (495) 648-68-17
																li: a(href="http://air-shop.ru" target="_blank") air-shop.ru
									.tab__item.is-active(data-tab="tab-map")
										.page-product__map(data-app="product-map" data-lat=55.755829 data-lng=37.617627 data-icon="./images/map-pin-small.svg" data-points=[
											{
												name: "Мир Комфорта",
												lat: 55.989903,
												lng: 37.177189,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.912822,
												lng: 36.827493,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 56.006234,
												lng: 38.242927,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.785183,
												lng: 38.705024,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.849641,
												lng: 37.755851,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.665360,
												lng: 36.640156,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.760544,
												lng: 37.520639,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.686532,
												lng: 37.451949,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.665360,
												lng: 37.553944,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.714744,
												lng: 37.924454,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.664184,
												lng: 38.188807,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.384335,
												lng: 36.983607,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.508565,
												lng: 37.354118,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.556967,
												lng: 37.803726,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.577019,
												lng: 38.018123,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
											{
												name: "Мир Комфорта",
												lat: 55.405659,
												lng: 38.700861,
												address: "г. Москва Проезд Завода Серп и молот, д. 5, стр. 1 А",
												tel: "+7 (495) 648-68-17",
												site: "air-shop.ru",
											},
										])
				.tab__item(data-tab="tab-6")
					.wrapper
						.wrapper__side
						.wrapper__content
							.page-product__documentation
								.page-product__documentation__title
									| Документация
								a.page-product__documentation__item(href="#")
									.page-product__documentation__item__icon
										+svg('pdf')
									.page-product__documentation__item__content
										.page-product__documentation__item__title
											| Настенные сплит-системы Daichi Air
										.page-product__documentation__item__text
											| 2,5 Мб, PDF
								a.page-product__documentation__item(href="#")
									.page-product__documentation__item__icon
										+svg('pdf')
									.page-product__documentation__item__content
										.page-product__documentation__item__title
											| Инструкция по монтажу и эксплуатации
										.page-product__documentation__item__text
											| 2,5 Мб, PDF
								a.page-product__documentation__item(href="#")
									.page-product__documentation__item__icon
										+svg('pdf')
									.page-product__documentation__item__content
										.page-product__documentation__item__title
											| DAICHI. Cертификат соответствия
										.page-product__documentation__item__text
											| 2,5 Мб, PDF
								a.page-product__documentation__item(href="#")
									.page-product__documentation__item__icon
										+svg('pdf')
									.page-product__documentation__item__content
										.page-product__documentation__item__title
											| Мобильное управление
										.page-product__documentation__item__text
											| 2,5 Мб, PDF
								a.page-product__documentation__item(href="#")
									.page-product__documentation__item__icon
										+svg('pdf')
									.page-product__documentation__item__content
										.page-product__documentation__item__title
											| Рекламные материалы
										.page-product__documentation__item__text
											| 2,5 Мб, PDF
				.tab__item(data-tab="tab-7")
					.wrapper
						.wrapper__side
						.wrapper__content
							.h2.page-product__tab__title
								| Видео
							.page-product__video
								.page-product__video__row
									.page-product__video__col.page-product__video__col--width-100
										a.page-product__video__item(href="https://www.youtube.com/watch?v=FjU_x1106pg&ab_channel=GlobeTrotterAlpha" data-fancybox)
											.page-product__video__item__image(style="background-image:url(./images/product-video.jpg)")
											.page-product__video__item__play
												+svg('play')
									.page-product__video__col
										a.page-product__video__item(href="https://www.youtube.com/watch?v=FjU_x1106pg&ab_channel=GlobeTrotterAlpha" data-fancybox)
											.page-product__video__item__image(style="background-image:url(./images/product-video-2.jpg)")
											.page-product__video__item__play
												+svg('play')
									.page-product__video__col
										a.page-product__video__item(href="https://www.youtube.com/watch?v=FjU_x1106pg&ab_channel=GlobeTrotterAlpha" data-fancybox)
											.page-product__video__item__image(style="background-image:url(./images/product-video-3.jpg)")
											.page-product__video__item__play
												+svg('play')
