.container
	.breadcrumbs
		ul
			li: a(href="index.html") Главная
			li: a(href="#") Каталог
			li: a(href="#") Полупромышленные системы серия Cityline
			li Daichi DA ALC
.page-series
	.container
		.intro__head.anime.fadeUp(data-offset="25")
			h1.intro__title
				| Полупромыш&shy;ленные кондиционеры Daichi CITY LINE
				br
				| Кассетный тип DA ALC
			.h3.intro__subtitle
				| Выгодный климат #[br]для больших помещений

		.page-series__image.anime.fadeUp(data-offset="25")
			img(src="./images/temp/48.png" alt="")

		.page-series__benefits
			.page-series__benefits__row
				.page-series__benefits__col.anime.fadeUp(data-offset="25")
					.page-series__benefits__item
						.page-series__benefits__item__icon
							img(src="./images/advantages/inverter-technology.svg" alt="")
						.page-series__benefits__item__text
							| FULL DC #[br]inverter
				.page-series__benefits__col.anime.fadeUp(data-offset="25")
					.page-series__benefits__item
						.page-series__benefits__item__icon
							img(src="./images/advantages/on-off.svg" alt="")
						.page-series__benefits__item__text
							| R-32 #[br]Хладагент
				.page-series__benefits__col.anime.fadeUp(data-offset="25")
					.page-series__benefits__item
						.page-series__benefits__item__icon
							img(src="./images/advantages/a-plus.svg" alt="")
						.page-series__benefits__item__text
							| Класс #[br]энергоэффективности
				.page-series__benefits__col.anime.fadeUp(data-offset="25")
					.page-series__benefits__item
						.page-series__benefits__item__icon
							img(src="./images/advantages/online-management.svg" alt="")
						.page-series__benefits__item__text
							| Wi-Fi, онлайн #[br]управление

		.page-split__menu.anime.fadeUp(data-offset="25")
			.page-split__menu__label
				b Кассетный тип DA ALC
			.page-split__menu__list
				ul
					li: a.js-goto(href="#characteristics") Характеристики
					li: a.js-goto(href="#models") Модели
					li: a.js-goto(href="#design") Дизайн
					li: a.js-goto(href="#comfort") Комфорт
					li: a.js-goto(href="#details") Детали
					li: a.js-goto(href="#documents") Документы
					li: a.js-goto(href="#accessories") Аксессуары

		.page-series__models#models
			.page-series__models__row
				.page-series__models__col.anime.fadeUp(data-offset="25")
					a.page-series__models__item(href="#")
						.page-series__models__item__title
							span.link-arrow DA70ALCS1R
						ul.page-series__models__item__list
							li
								.page-series__models__item__list__key
									| для помещений площадью
								.page-series__models__item__list__value
									| 70 м²
							li
								.page-series__models__item__list__key
									| мощность при охлаждении
								.page-series__models__item__list__value
									| 8 кВт
							li
								.page-series__models__item__list__key
									| диапазон рабочих температур
								.page-series__models__item__list__value
									| –20~48 ºC
				.page-series__models__col.anime.fadeUp(data-offset="25")
					a.page-series__models__item(href="#")
						.page-series__models__item__title
							span.link-arrow DA70ALCS1R
						ul.page-series__models__item__list
							li
								.page-series__models__item__list__key
									| для помещений площадью
								.page-series__models__item__list__value
									| 70 м²
							li
								.page-series__models__item__list__key
									| мощность при охлаждении
								.page-series__models__item__list__value
									| 8 кВт
							li
								.page-series__models__item__list__key
									| диапазон рабочих температур
								.page-series__models__item__list__value
									| –20~48 ºC
				.page-series__models__col.anime.fadeUp(data-offset="25")
					a.page-series__models__item(href="#")
						.page-series__models__item__title
							span.link-arrow DA70ALCS1R
						ul.page-series__models__item__list
							li
								.page-series__models__item__list__key
									| для помещений площадью
								.page-series__models__item__list__value
									| 70 м²
							li
								.page-series__models__item__list__key
									| мощность при охлаждении
								.page-series__models__item__list__value
									| 8 кВт
							li
								.page-series__models__item__list__key
									| диапазон рабочих температур
								.page-series__models__item__list__value
									| –20~48 ºC
				.page-series__models__col.anime.fadeUp(data-offset="25")
					a.page-series__models__item(href="#")
						.page-series__models__item__title
							span.link-arrow DA70ALCS1R
						ul.page-series__models__item__list
							li
								.page-series__models__item__list__key
									| для помещений площадью
								.page-series__models__item__list__value
									| 70 м²
							li
								.page-series__models__item__list__key
									| мощность при охлаждении
								.page-series__models__item__list__value
									| 8 кВт
							li
								.page-series__models__item__list__key
									| диапазон рабочих температур
								.page-series__models__item__list__value
									| –20~48 ºC

		.page-product__slider.anime.fadeUp(data-offset="25" data-app="product-slider")
			.swiper-container
				.swiper-wrapper
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/45.png" alt="")
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/46.png" alt="")
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/47.png" alt="")
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/43.jpg" alt="")
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/45.png" alt="")
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/46.png" alt="")
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/47.png" alt="")
					.swiper-slide
						.page-product__slider__image
							img(src="./images/temp/43.jpg" alt="")
			.progress

		.page-content
			.wrapper
				.wrapper__side
				.wrapper__content
					.page-content__wrapper
						.h2.page-content__title.anime.fadeUp
							| Облачный кондиционер управляется с&nbsp;помощью пульта, смартфона или&nbsp;ПК, работает по&nbsp;подписке!
						.page-text-list.anime.fadeUp
							ol
								li.h3 Оплачиваете стоимость оборудования
								li.h3 Устанавливаете кондиционер и&nbsp;подключаете его к&nbsp;облачному серверу через мобильное приложение
								li.h3 Платите фиксированный ежегодный платёж или покупаете бессрочную подписку и&nbsp;получаете доступ к&nbsp;управлению кондиционером и&nbsp;к&nbsp;Облачному сервису Даичи
						.h2.page-content__title.anime.fadeUp
							| Что входит в&nbsp;состав оборудования?
						.page-text-list.anime.fadeUp
							ul
								li Наружный блок кондиционера
								li Внутренний блок кондиционера
								li Встроенный модуль управления через Wi‑Fi
								li Пульт управления
								li На&nbsp;всё предоставляется 2&nbsp;года гарантии
					.h2.page-content__title.anime.fadeUp
						| Что входит в&nbsp;Облачный сервис Даичи?
			.page-content__row
				.page-content__row__col
					.page-content__item.page-content__item--big
						.page-content__item__image.anime.fadeUp
							img(src="./images/page-content.jpg" alt="")
						.page-content__item__content
							.page-content__item__text.anime.fadeUp
								| 24/7 онлайн диагностика и&nbsp;мониторинг работы Облачного кондиционера
							.page-content__item__button.anime.fadeUp
								a.button.button--white(href="#") Подробнее
					.page-content__item
						.page-content__item__image.anime.fadeUp
							img(src="./images/page-content-2.jpg" alt="")
						.page-content__item__content
							.page-content__item__text.anime.fadeUp
								| 2&nbsp;года дополнительной гарантии на&nbsp;кондиционер
					.page-content__item.page-content__item--small
						.page-content__item__image.anime.fadeUp
							img(src="./images/page-content-3.jpg" alt="")
						.page-content__item__content
							.page-content__item__text.anime.fadeUp
								| Облачный кондиционер работает только при наличии интернет-соединения через Wi‑Fi и&nbsp;оплаченной подписке
				.page-content__row__col
					.page-content__item
						.page-content__item__image.anime.fadeUp
							img(src="./images/page-content-4.jpg" alt="")
						.page-content__item__content
							.page-content__item__text.anime.fadeUp
								| Управление со&nbsp;смартфона или&nbsp;ПК с&nbsp;помощью приложения Daichi Comfort
							.page-content__item__button.anime.fadeUp
								a.button.button--white(href="#") Подробнее
					.page-content__item
						.page-content__item__image.anime.fadeUp
							img(src="./images/page-content-5.jpg" alt="")
						.page-content__item__content
							.page-content__item__text.anime.fadeUp
								| Консультационная служба по&nbsp;вопросам работы Облачного кондиционера
					.page-content__item
						.page-content__item__image.anime.fadeUp
							img(src="./images/page-content-6.jpg" alt="")
						.page-content__item__content
							.page-content__item__text.anime.fadeUp
								| Личный кабинет клиента для управления подпиской
			.wrapper
				.wrapper__side
				.wrapper__content
					.page-content__wrapper
						.h2.page-content__title.anime.fadeUp
							| Как оплатить подписку #[br] на&nbsp;Облачный сервис Даичи?
						.h3.page-content__subtitle.anime.fadeUp
							| Подписка на&nbsp;Облачный сервис Даичи оплачивается в&nbsp;Личном кабинете клиента на&nbsp;сайте #[a.link-text(href="#") lk.daichi.ru] после установки кондиционера.
						.h3.page-content__subtitle.anime.fadeUp
							| Для активации необходимо приобрести один из&nbsp;предложенных тарифов: &laquo;Подписка на&nbsp;1&nbsp;год&raquo; или&nbsp;&laquo;Бессрочный доступ&raquo;.
					.page-content__inner
						.page-content__inner__col
							.page-content__block.anime.fadeUp
								.h4.page-content__block__title.anime.fadeUp
									| Подписка на&nbsp;1&nbsp;год
								.page-content__block__text.anime.fadeUp
									| При оплате подписки по&nbsp;тарифу &laquo;Подписка на&nbsp;1&nbsp;год &raquo; предоставляется доступ к&nbsp;управлению кондиционером на&nbsp;365 дней с&nbsp;момента оплаты.
								.page-content__block__text.anime.fadeUp
									| Через 365 дней необходимо снова оплатить подписку для продления доступа к&nbsp;управлению устройством.
						.page-content__inner__col
							.page-content__block.anime.fadeUp
								.h4.page-content__block__title.anime.fadeUp
									| Бессрочный доступ
								.page-content__block__text.anime.fadeUp
									| При оплате подписки по&nbsp;тарифу &laquo;Бессрочный доступ&raquo; доступ к&nbsp;управлению предоставляется на&nbsp;весь срок жизненного цикла кондиционера.
								.page-content__block__text.anime.fadeUp
									| Цена тарифа равна сумме 3&nbsp;ежегодных платежей, выплачиваемых единовременно.
					.page-content__text.anime.fadeUp
						| Подробная инструкция по&nbsp;подключению Облачного кондиционера и&nbsp;оплате подписки размещена на&nbsp;#[a.text-link(href="https://daichi.cloud/cloud-install") daichi.cloud/cloud-install], QR‑код со&nbsp;ссылкой на&nbsp;инструкцию расположен на&nbsp;торце Облачного кондиционера.

		.page-series__design#design
			.wrapper
				.wrapper__side
					.page-series__design__content.anime.fadeUp(data-offset="25")
						.h2.page-series__design__title
							| Дизайн
						.page-subtext.page-series__design__text
							| Кассетные блоки встраиваются в подвесной потолок, закрываются снизу декоративной панелью с фильтром и заслонками регулирования подачи воздуха. Это решение выгодно вписывается в дизайн любого коммерческого или общественного помещения
				.wrapper__content
					.page-series__design__image.anime.fadeUp(data-offset="25")
						img(src="./images/series-design.jpg" alt="")

		.page-series__comfort#comfort
			.wrapper
				.wrapper__side
					.h2.page-series__comfort__title.anime.fadeUp(data-offset="25")
						| Комфорт
				.wrapper__content
					.page-series__comfort__list
						.page-series__comfort__list__col.anime.fadeUp(data-offset="25")
							.page-series__comfort__list__item
								.page-series__comfort__list__item__icon
									img(src="./images/advantages/pre-filter.svg" alt="")
								.page-series__comfort__list__item__title
									| Система фильтрации и&nbsp;очистки воздуха
								.page-series__comfort__list__item__text
									| Эта функция автоматически меняет направление подачи воздуха в зависимости от температуры и обеспечивает равномерный температурный фон по всему объему помещения
						.page-series__comfort__list__col.anime.fadeUp(data-offset="25")
							.page-series__comfort__list__item
								.page-series__comfort__list__item__icon
									img(src="./images/advantages/noise-level.svg" alt="")
								.page-series__comfort__list__item__title
									| Низкий уровень шума
								.page-series__comfort__list__item__text
									| Эта функция автоматически меняет направление подачи воздуха в зависимости от температуры и обеспечивает равномерный температурный фон по всему объему помещения
						.page-series__comfort__list__col.anime.fadeUp(data-offset="25")
							.page-series__comfort__list__item
								.page-series__comfort__list__item__icon
									img(src="./images/advantages/comfortable-air-distribution.svg" alt="")
								.page-series__comfort__list__item__title
									| Подача воздуха по&nbsp;восьми направлениям
								.page-series__comfort__list__item__text
									| декоративная панель DРС06L обеспечивает подачу воздуха в четырех направлениях и дополнительную угловую подачу
						.page-series__comfort__list__col.anime.fadeUp(data-offset="25")
							.page-series__comfort__list__item
								.page-series__comfort__list__item__icon
									img(src="./images/advantages/wide-range.svg" alt="")
								.page-series__comfort__list__item__title
									| Широкий диапазон
								.page-series__comfort__list__item__text
									| изменений угла воздушного потока на 45–80° обеспечивает эффективное кондиционирование всего пространства помещения
					.page-series__comfort__gallery.anime.fadeUp(data-offset="25" data-app="series-comfort-gallery")
						.swiper-container
							.swiper-wrapper
								.swiper-slide
									.page-series__comfort__gallery__item
										img(src="./images/temp/49.jpg" alt="")
								.swiper-slide
									.page-series__comfort__gallery__item.page-series__comfort__gallery__item--small
										img(src="./images/temp/50.jpg" alt="")
								.swiper-slide
									.page-series__comfort__gallery__item.page-series__comfort__gallery__item--small
										img(src="./images/temp/51.jpg" alt="")
								.swiper-slide
									.page-series__comfort__gallery__item
										img(src="./images/temp/52.jpg" alt="")
								.swiper-slide
									.page-series__comfort__gallery__item.page-series__comfort__gallery__item--small
										img(src="./images/temp/53.jpg" alt="")
								.swiper-slide
									.page-series__comfort__gallery__item
										img(src="./images/temp/54.jpg" alt="")
								.swiper-slide
									.page-series__comfort__gallery__item.page-series__comfort__gallery__item--small
										img(src="./images/temp/55.jpg" alt="")
						.progress

		.page-series__details#details
			.wrapper
				.wrapper__side.anime.fadeUp(data-offset="25")
					.h2
						| Детали
				.wrapper__content
					.accordion.page-product__accordion.anime(data-offset="25" data-app="accordion")
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									| Энергосбережение
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__row
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/a-plus.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Высокий показатель SEER
												.accordion__item__point__text
													| Высокая сезонная энергоэффективность класса &laquo;А++&raquo; и&nbsp;&laquo;А+++&raquo; обеспечит значительное снижение годового потребления электроэнергии
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/energy-saving.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Режим энергосбережения
												.accordion__item__point__text
													| Производительность кондиционера принудительно снижается в&nbsp;случае необходимости использования другого бытового оборудования
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/dc-inverter.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b DC-инвертор
												.accordion__item__point__text
													| В&nbsp;компрессорах используются передовые инверторные технологии, дающие существенные преимущества в&nbsp;экономичности.
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/compressor-soft-start.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Плавный пуск компрессора
												.accordion__item__point__text
													| Программное обеспечение Soft Start ограничивает пусковой тое компрессора в&nbsp;целях снижения нагрузки на&nbsp;энергосистему.
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									| Надежнсть
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__row
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/automatic-restart.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Автоматический перезапуск
												.accordion__item__point__text
													| Автоматический перезапуск после устранения сбоя энергоснабжения
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/reliable-work.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Надежная работа
												.accordion__item__point__text
													| Многоуровневая защита узлов оборудования, высокая стабильность технических характеристик, включая работу в&nbsp;условиях крайне низких температур от &minus;15 до &minus;40 &deg;С.
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/resistant-voltage-surges.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Устойчивость к перепадам напряжения
												.accordion__item__point__text
													| Кондиционер надежно работает при колебаниях напряжения электропитания от&nbsp;170&nbsp;В до&nbsp;265&nbsp;В
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/corrosion-resistance.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Коррозионная стойкость
												.accordion__item__point__text
													| Корпус наружного блока и&nbsp;теплообменники имеют специальные покрытия для защиты от&nbsp;влаги, абразивных частиц и&nbsp;агрессивных веществ.
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									| Здоровье
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__row
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/anti-mold-treatment.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Противоплесневая обработка
												.accordion__item__point__text
													| В&nbsp;корпусе внутреннего блока плесень не&nbsp;образуется благодаря продуманной конструкции и&nbsp;работе вентилятора некоторое время после выключения устройства для устранения влаги
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/pre-filter.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Фильтр предварительной очистки
												.accordion__item__point__text
													| Эффективно задерживает тополиный пух, шерсть животных, пыль
						.accordion__item
							.accordion__item__header
								.accordion__item__header__text
									| Управление
									+svg('plus').accordion__item__header__icon
							.accordion__item__content
								.accordion__item__row
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/online-management.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Wi-Fi, онлайн управление
												.accordion__item__point__text
													| Кондиционер может управляться удаленно через интернет или локальную сеть через &laquo;облако Даичи&raquo; со&nbsp;смартфона, ПК
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/blocking.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Блокирока
												.accordion__item__point__text
													| Исключается управление кондиционером посторонними и&nbsp;детьми
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/timer-operation.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Работа по таймеру
												.accordion__item__point__text
													| Позволяет запрограммировать время ВКЛ/ВЫКЛ кондиционера (в&nbsp;зависимости от&nbsp;модели и&nbsp;типа таймер от&nbsp;24&nbsp;ч до&nbsp;2&nbsp;недель)
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/cooling.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Охлаждение и&nbsp;обогрев при низких температурах
												.accordion__item__point__text
													| Кондиционеры работоспособны при низких температурах наружного воздуха: при охлаждении до &minus;15 &deg;С, обогреве до &minus;15 ~ &minus;30 &deg;С
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/self-diagnosis.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Самодиагностика
												.accordion__item__point__text
													| Функция проверки технических параметров работы, препятствующая выходу оборудования из&nbsp;строя
									.accordion__item__col
										.accordion__item__point
											.accordion__item__point__icon
												img(src="./images/advantages/information-led-display.svg" alt="")
											.accordion__item__point__content
												.accordion__item__point__title
													b Информационный LED дисплей
												.accordion__item__point__text
													| Светодиодный дисплей c&nbsp;четким изображением и&nbsp;возможностью отключения ночью

		.page-series__control
			.wrapper
				.wrapper__side
				.wrapper__content
					.h2.page-series__control__title.anime.fadeUp(data-offset="25")
						| Расширенные возможности управления
			.wrapper
				.wrapper__side
					.page-series__control__controller.anime.fadeUp(data-offset="25")
						.h4.page-series__control__controller__title
							| Встроенный контроллер Daichi
						.page-series__control__controller__text
							| Кондиционер управляется со смартфона или ПК через&nbsp;приложение Daichi Comfort
						.page-series__control__controller__image
							img(src="./images/series-controller.png" alt="")
				.wrapper__content
					.page-series__control__item
						.page-series__control__item__image.anime.fadeUp(data-offset="25")
							img(src="./images/series-control.png" alt="")
						.page-series__control__item__content.anime.fadeUp(data-offset="25")
							.h4.page-series__control__item__title
								| Оборудование серии City Line DA ALC могут управляться со&nbsp;смартфона, планшета или ПК.
							.page-series__control__item__text
								| Для этого необходимо установить Wi-Fi-контроллер Daichi DW11-BL и скачать приложение Daichi Comfort. ваш смартфон превратится в центральный интеллектуальный пульт управления всеми кондиционерами в ваших коммерческих помещениях.
							.page-series__control__market
								.page-series__control__market__item
									.page-series__control__market__item__qr
										img(src="./images/app-store-qr.png" alt="")
									.page-series__control__market__item__logo
										a(href="#" target="_blank"): img(src="./images/app-store.svg" alt="")
								.page-series__control__market__item
									.page-series__control__market__item__qr
										img(src="./images/google-play-qr.png" alt="")
									.page-series__control__market__item__logo
										a(href="#" target="_blank"): img(src="./images/google-play.svg" alt="")

		.page-series__feature#characteristics
			.wrapper
				.wrapper__side
				.wrapper__content
					.h2.page-series__feature__title.anime.fadeUp(data-offset="25")
						| Характеристики
			.table.anime.fadeUp(data-offset="25" data-app="table")
				table
					tbody
						tr
							td: b Внутренний блок
							td: b
							td: b
							td: b DA70ALCS1R
							td: b DA100ALCS1R
							td: b DA140ALCS1R
							td: b DA140ALCS1R
						tr
							td: b Наружный блок
							td: b
							td: b
							td: b DF70ALS1R
							td: b DF100ALS1R
							td: b DF140ALS3R
							td: b DF160ALS3R
						tr
							td Электропитание
							td
							td
							td 220-240-50 / 60-1
							td 220-240-50 / 60-1
							td(colspan="2") 220-240- 50 / 60-1 / 380-415-50 / 60-3
						tr
							td(rowspan="2") Производительность
							td Охлаждение (SEER)
							td
							td 7.2 / A++
							td 6.1 / A++
							td 6.1 / A++
							td 6.1 / A++
						tr
							td Нагрев (SCOP)
							td
							td 3.9 / A
							td 4.0 / A+
							td 4.0 / A+
							td 3.8 / A
						tr
							td Электропитание
							td
							td В,Гц,Ф
							td 220-240-50 / 60-1
							td 220-240-50 / 60-1
							td(colspan="2") 220-240- 50 / 60-1 / 380-415-50 / 60-3
						tr
							td(rowspan="2") Сезонная энергоэффективность / Класс
							td Охлаждение (SEER)
							td
							td 7.2 / A++
							td 6.1 / A++
							td 6.1 / A++
							td 6.1 / A++
						tr
							td Нагрев (SCOP)
							td
							td 3.9 / A
							td 4.0 / A+
							td 4.0 / A+
							td 3.8 / A
						tr
							td(rowspan="2") Уровень шума (выс./сред./низ.)
							td Внутренний блок
							td дБА
							td 42/40/39
							td 48/46/42
							td 51/48/45
							td 52/50/48
						tr
							td Наружный блок
							td дБА
							td 52/—/—
							td 55/—/—
							td 57/—/—
							td 57/—/—
						tr
							td(rowspan="3") Габариты (ШхВхГ)
							td Внутренний блок
							td мм
							td 840×240×840
							td 840×240×840
							td 840×290×840
							td 840×290×840
						tr
							td Наружный блок
							td мм
							td 892x698x340
							td 940×820×460
							td 940×820×460
							td 900x1345x340
						tr
							td Декоративная панель
							td мм
							td 950×52×950
							td 950×52×950
							td 950×52×950
							td 950×52×950
						tr
							td(rowspan="2") Вес
							td Внутренний блок
							td кг
							td 29
							td 31
							td 36
							td 36
						tr
							td Наружный блок
							td кг
							td 53
							td 83
							td 99
							td 112
						tr
							td(rowspan="4") Трубопровод хладагента
							td Диаметр для жидкости
							td мм
							td 9.52
							td 9.52
							td 9.52
							td 9.52
						tr
							td Диаметр для газа
							td мм
							td 15.9
							td 15.9
							td 15.9
							td 15.9
						tr
							td Длина между блоками
							td м
							td 50
							td 65
							td 75
							td 75
						tr
							td Перепад между блоками
							td м
							td 25
							td 30
							td 30
							td 30
						tr
							td(rowspan="2") Диапазон рабочих температур
							td Охлаждение
							td °C
							td -20~48
							td -20~48
							td -20~48
							td -20~48
						tr
							td Нагрев
							td °C
							td -20~24
							td -20~24
							td -20~24
							td -20~24
						tr
							td(rowspan="2") Пульт управления
							td Беспроводной
							td
							td DRC01
							td DRC01
							td DRC01
							td DRC01
						tr
							td Проводной (опция)
							td
							td DC18W
							td DC18W
							td DC18W
							td DC18W

		.wrapper
			.wrapper__side
			.wrapper__content
				.page-product__documentation.page-series__documents.anime.fadeUp#documents(data-offset="25")
					.page-product__documentation__title
						| Документация
					a.page-product__documentation__item(href="#")
						.page-product__documentation__item__icon
							+svg('pdf')
						.page-product__documentation__item__content
							.page-product__documentation__item__title
								| Настенные сплит-системы Daichi Air
							.page-product__documentation__item__text
								| 2,5 Мб, PDF
					a.page-product__documentation__item(href="#")
						.page-product__documentation__item__icon
							+svg('pdf')
						.page-product__documentation__item__content
							.page-product__documentation__item__title
								| Инструкция по монтажу и эксплуатации
							.page-product__documentation__item__text
								| 2,5 Мб, PDF
					a.page-product__documentation__item(href="#")
						.page-product__documentation__item__icon
							+svg('pdf')
						.page-product__documentation__item__content
							.page-product__documentation__item__title
								| DAICHI. Cертификат соответствия
							.page-product__documentation__item__text
								| 2,5 Мб, PDF
					a.page-product__documentation__item(href="#")
						.page-product__documentation__item__icon
							+svg('pdf')
						.page-product__documentation__item__content
							.page-product__documentation__item__title
								| Мобильное управление
							.page-product__documentation__item__text
								| 2,5 Мб, PDF
					a.page-product__documentation__item(href="#")
						.page-product__documentation__item__icon
							+svg('pdf')
						.page-product__documentation__item__content
							.page-product__documentation__item__title
								| Рекламные материалы
							.page-product__documentation__item__text
								| 2,5 Мб, PDF
				.page-product__accessories-list#accessories
					.h2.page-product__tab__title.anime.fadeUp(data-offset="25")
						| Аксессуары
					.page-product__accessories.anime.fadeUp(data-offset="25")
						.page-product__accessories__image
							img(src="./images/temp/43.jpg" alt="")
						.page-product__accessories__content
							.page-product__accessories__head
								.h4.page-product__accessories__title
									| Wi-Fi-контроллер Daichi DW11-BL
								.h4.page-product__accessories__price
									| от 5 990 ₽
							.page-product__accessories__row
								.page-product__accessories__info
									ul
										li
											.page-product__accessories__info__label Габариты, ШхГхВ, мм
											span 100x22x55
										li
											.page-product__accessories__info__label Вес нетто
											span 0,156
										li
											.page-product__accessories__info__label Шифрование
											span WEP/TKIP/AES
										li
											.page-product__accessories__info__label Безопасность
											span WPA/WPA2
								.page-product__accessories__button
									a.button(href="#") Подробнее
					.page-product__accessories.anime.fadeUp(data-offset="25")
						.page-product__accessories__image
							img(src="./images/temp/44.jpg" alt="")
						.page-product__accessories__content
							.page-product__accessories__head
								.h4.page-product__accessories__title
									| Проводной пульт управления Daichi DC18W
								.h4.page-product__accessories__price
									| от 4 990 ₽
							.page-product__accessories__row
								.page-product__accessories__info
									ul
										li
											.page-product__accessories__info__label Габариты, ШхГхВ, мм
											span 100x22x55
										li
											.page-product__accessories__info__label Вес нетто
											span 0,156
										li
											.page-product__accessories__info__label Шифрование
											span WEP/TKIP/AES
										li
											.page-product__accessories__info__label Безопасность
											span WPA/WPA2
								.page-product__accessories__button
									a.button(href="#") Подробнее
					.page-product__accessories.anime.fadeUp(data-offset="25")
						.page-product__accessories__image
						.page-product__accessories__content
							.page-product__accessories__head
								.h4.page-product__accessories__title
									| Декоративная панель DPC06L
								.h4.page-product__accessories__price
									| от 11 990 ₽
							.page-product__accessories__row
								.page-product__accessories__info
									ul
										li
											.page-product__accessories__info__label Габариты, ШхГхВ, мм
											span 100x22x55
										li
											.page-product__accessories__info__label Вес нетто
											span 0,156
										li
											.page-product__accessories__info__label Шифрование
											span WEP/TKIP/AES
										li
											.page-product__accessories__info__label Безопасность
											span WPA/WPA2
								.page-product__accessories__button
									a.button(href="#") Подробнее
