.container
	.breadcrumbs
		ul
			li: a(href="index.html") Главная
			li Карта сайта

	h1.page-title
		| Карта сайта
	.page-text-list
		ul
			li: a(href="index.html"): b Главная
			li: a(href="styles.html"): b Страница&nbsp;стилей
			li: a(href="cloud.html") Облачный кондиционер
			li: a(href="mobile-control.html") Мобильное управление
			li
				a(href="catalog.html") Каталог
				ul
					li
						a(href="series.html") Страница серии
					li
						a(href="catalogue-split.html") Бытовые сплит-системы
						ul
							li: a(href="product.html") Карточка товара
			li: a(href="about.html") О компании
			li: a(href="brand.html") О бренде
			li: a(href="become-dealer.html") Стать дилером
			li: a(href="dealers.html") Авторизованные дилеры
			li: a(href="contacts.html") Контакты
			li: a(href="404.html") 404
			li: a(href="article-page.html") Страница статьи
			li: a(href="blog-articles.html") Блог—статьи
			li: a(href="blog-video.html") Блог—статьи (видео)
			li: a(href="news-page.html") Страница новости
			li: a(href="service-centers.html") Авторизованные сервисные центры
			li: a(href="search.html") Поиск
			li: a(href="styles.html") Страница стилей
			li: a(href="support.html") Техническая поддержка
			li: a(href="guarantee.html") Гарантия
			li: a(href="repair.html") Обслуживание и&nbsp;ремонт
			li: a(href="buyers.html") Где купить
			li: a(href="climate-online.html") Климат онлайн
			li: a(href="my-comfort.html") Мой комфорт
			li: a(href="support-home.html") Поддержка и гарантия
			li: a(href="partners.html") Для партнеров
			li: a(href="mail.html") Рассылка
			li: a(href="sitemap.html") Карта сайта
