.container
	.breadcrumbs
		ul
			li: a(href="index.html") Главная
			li Поддержка и гарантия

	.support-home
		.intro.anime(data-app="intro")
			.intro__head
				h1.intro__title
					| Поддержка и&nbsp;гарантия
				.h3.intro__subtitle
					| Для оборудования Даичи действуют специальные программы послепродажного обслуживания
		.support-home__row
			.support-home__col
				a.support-home__item(href="#")
					.support-home__item__image(style="background-image:url(./images/temp/62.jpg)")
					.support-home__item__caption
						.h3.support-home__item__title
							| Гарантия
			.support-home__col.support-home__col--small
				a.support-home__item.support-home__item--small(href="#")
					.support-home__item__image(style="background-image:url(./images/temp/63.jpg)")
					.support-home__item__caption
						.h3.support-home__item__title
							| Техническая поддержка
			.support-home__col.support-home__col--small
				a.support-home__item.support-home__item--small(href="#")
					.support-home__item__image(style="background-image:url(./images/temp/64.jpg)")
					.support-home__item__caption
						.h3.support-home__item__title
							| Обслуживание и&nbsp;ремонт
			.support-home__col
				a.support-home__item(href="#")
					.support-home__item__image(style="background-image:url(./images/temp/65.jpg)")
					.support-home__item__caption
						.h3.support-home__item__title
							| Программа «Климат онлайн»
			.support-home__col
				a.support-home__item(href="#")
					.support-home__item__image(style="background-image:url(./images/temp/66.jpg)")
					.support-home__item__caption
						.h3.support-home__item__title
							| Программа «Мой комфорт»
