.blog__col.blog__col--width-50
	a.blog__item(href="#")
		.blog__item__image(style="background-image:url(./images/temp/12.jpg)")
		.blog__item__date
			| 02.04.21
		.blog__item__content
			.h4.blog__item__title
				| Заголовок статьи
			.blog__item__text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
.blog__col.blog__col--width-50
	a.blog__item(href="#" data-offset="25")
		.blog__item__image(style="background-image:url(./images/temp/14.jpg)")
		.blog__item__date
			| 02.04.21
		.blog__item__content
			.h4.blog__item__title
				| Заголовок статьи
			.blog__item__text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
.blog__col
	a.blog__item(href="#" data-offset="25")
		.blog__item__image(style="background-image:url(./images/temp/15.jpg)")
		.blog__item__date
			| 02.04.21
		.blog__item__content
			.h4.blog__item__title
				| Заголовок статьи
			.blog__item__text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
.blog__col
	a.blog__item(href="#" data-offset="25")
		.blog__item__image(style="background-image:url(./images/temp/16.jpg)")
		.blog__item__date
			| 02.04.21
		.blog__item__content
			.h4.blog__item__title
				| Заголовок статьи
			.blog__item__text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
.blog__col
	a.blog__item(href="#" data-offset="25")
		.blog__item__image(style="background-image:url(./images/temp/17.jpg)")
		.blog__item__date
			| 02.04.21
		.blog__item__content
			.h4.blog__item__title
				| Заголовок статьи
			.blog__item__text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
.blog__col
	a.blog__item(href="#" data-offset="25")
		.blog__item__image
		.blog__item__date
			| 02.04.21
		.blog__item__content
			.h4.blog__item__title
				| Заголовок статьи без фотографии
			.blog__item__text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
.blog__col
	a.blog__item(href="#" data-offset="25")
		.blog__item__image(style="background-image:url(./images/temp/18.jpg)")
		.blog__item__date
			| 02.04.21
		.blog__item__content
			.h4.blog__item__title
				| Заголовок статьи
			.blog__item__text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
.blog__col
	a.blog__item(href="#" data-offset="25")
		.blog__item__image(style="background-image:url(./images/temp/19.jpg)")
		.blog__item__date
			| 02.04.21
		.blog__item__content
			.h4.blog__item__title
				| Заголовок статьи
			.blog__item__text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
.blog__more.js-load-more(data-target="blog-list")
			a.button(href="#" data-page="3") Показать ещё
