include pug/mixins

.blog__col.blog__col--width-100
	a.blog__item(href="https://www.youtube.com/watch?v=FjU_x1106pg&ab_channel=GlobeTrotterAlpha" data-fancybox)
		.blog__item__image(style="background-image:url(./images/temp/9.jpg)")
			.blog__item__play
				+svg('play')
		.blog__item__date
			| 02.04.21
		.blog__item__content
			.h4.blog__item__title
				| Заголовок видео
			.blog__item__text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
.blog__col.blog__col--width-50
	a.blog__item(href="https://www.youtube.com/watch?v=FjU_x1106pg&ab_channel=GlobeTrotterAlpha" data-fancybox)
		.blog__item__image(style="background-image:url(./images/temp/10.jpg)")
			.blog__item__play
				+svg('play')
		.blog__item__date
			| 02.04.21
		.blog__item__content
			.h4.blog__item__title
				| Заголовок видео
			.blog__item__text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
.blog__col.blog__col--width-50
	a.blog__item(href="https://www.youtube.com/watch?v=FjU_x1106pg&ab_channel=GlobeTrotterAlpha" data-fancybox)
		.blog__item__image(style="background-image:url(./images/temp/11.jpg)")
			.blog__item__play
				+svg('play')
		.blog__item__date
			| 02.04.21
		.blog__item__content
			.h4.blog__item__title
				| Заголовок видео
			.blog__item__text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
.blog__col.blog__col--width-50
	a.blog__item(href="https://www.youtube.com/watch?v=FjU_x1106pg&ab_channel=GlobeTrotterAlpha" data-fancybox)
		.blog__item__image(style="background-image:url(./images/temp/12.jpg)")
			.blog__item__play
				+svg('play')
		.blog__item__date
			| 02.04.21
		.blog__item__content
			.h4.blog__item__title
				| Заголовок видео
			.blog__item__text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
.blog__col.blog__col--width-50
	a.blog__item(href="https://www.youtube.com/watch?v=FjU_x1106pg&ab_channel=GlobeTrotterAlpha" data-fancybox)
		.blog__item__image(style="background-image:url(./images/temp/13.jpg)")
			.blog__item__play
				+svg('play')
		.blog__item__date
			| 02.04.21
		.blog__item__content
			.h4.blog__item__title
				| Заголовок видео
			.blog__item__text
				| Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях.
.blog__more.js-load-more(data-target="blog-list")
	a.button(href="#" data-page="3") Показать ещё