include pug/mixins

.page-support__files__col
	a.page-support__files__item(href="#" target="_blank" download)
		.page-support__files__item__icon
			+svg('file')
		.h4.page-support__files__item__name
			| Сплит-системы. X&minus;Treme Peak
		.page-support__files__item__info
			| 3,1 Мб, PDF
.page-support__files__col
	a.page-support__files__item(href="#" target="_blank" download)
		.page-support__files__item__icon
			+svg('file')
		.h4.page-support__files__item__name
			| Сплит-системы.Carbon
		.page-support__files__item__info
			| 1,2 Мб, PDF
.page-support__files__col
	a.page-support__files__item(href="#" target="_blank" download)
		.page-support__files__item__icon
			+svg('file')
		.h4.page-support__files__item__name
			| Облачный кондиционер
		.page-support__files__item__info
			| 2,5 Мб, PDF
.page-support__files__col
	a.page-support__files__item(href="#" target="_blank" download)
		.page-support__files__item__icon
			+svg('file')
		.h4.page-support__files__item__name
			| Сплит-системы.Air
		.page-support__files__item__info
			| 1,3 Мб, PDF
.page-support__files__col
	a.page-support__files__item(href="#" target="_blank" download)
		.page-support__files__item__icon
			+svg('file')
		.h4.page-support__files__item__name
			| Облачный кондиционер
		.page-support__files__item__info
			| 2,5 Мб, PDF
.page-support__files__col
	a.page-support__files__item(href="#" target="_blank" download)
		.page-support__files__item__icon
			+svg('file')
		.h4.page-support__files__item__name
			| Сплит-системы.Air
		.page-support__files__item__info
			| 1,3 Мб, PDF
.page-support__files__col
	a.page-support__files__item(href="#" target="_blank" download)
		.page-support__files__item__icon
			+svg('file')
		.h4.page-support__files__item__name
			| Сплит-системы. Ice
		.page-support__files__item__info
			| 595,8 КБ, PDF
.page-support__files__col
	a.page-support__files__item(href="#" target="_blank" download)
		.page-support__files__item__icon
			+svg('file')
		.h4.page-support__files__item__name
			| Сплит-системы. Ice+
		.page-support__files__item__info
			| 4,9 Мб, PDF
.blog__more.js-load-more(data-target="documents-list-2")
	a.button(href="#" data-page="2") Показать ещё
